<!-- BGとして ここから -->
<div class="bg__repeatWrapper">
    <div class="bg__repeatBlc">
        <div class="bgw1">
            <div class="maskbg1">
                <img class="" src="{{ file_root_path }}/themes/upt_origin_20220816132124/ec_force/assets/images/uptorigin/bg01b-min.jpg" alt="">
                <img class="" src="{{ file_root_path }}/themes/upt_origin_20220816132124/ec_force/assets/images/uptorigin/bg01b-min.jpg" alt="">
            </div>
        </div>

        <div class="bgw2">
            <div class="pc">
                <div class="maskbg2">
                    <img class="" src="{{ file_root_path }}/themes/upt_origin_20220816132124/ec_force/assets/images/uptorigin/bg02b.jpg" alt="">
                    <img class="" src="{{ file_root_path }}/themes/upt_origin_20220816132124/ec_force/assets/images/uptorigin/bg02b.jpg" alt="">
                </div>

            </div>
            <div class="sp">
                <div class="maskbg2">
                    <img class="" src="{{ file_root_path }}/themes/upt_origin_20220816132124/ec_force/assets/images/uptorigin/bg02b.jpg" alt="">
                    <img class="" src="{{ file_root_path }}/themes/upt_origin_20220816132124/ec_force/assets/images/uptorigin/bg02b.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</div>
<!-- BGとして　ここまで -->