{{ 'shop/carts' | javascript_include_tag }}

<main class="l-container js-main-container" role="main" id="cart-show-view">
  <div class="l-container__row mt30">
    {% comment %} {{ 'notice' | flash: 'control-alert alert-success', 'text u-color__bg--bg u-color__text--alert' }} {% endcomment %}
    {{ 'alert' | flash: 'control-alert alert-danger', 'text u-color__bg--bg u-color__text--alert' }}
    {{ 'error' | flash: 'control-alert alert-danger', 'text u-color__bg--bg u-color__text--alert' }}
    {{ 'order_errors' | flash: 'control-alert alert-danger', 'text u-color__bg--bg u-color__text--alert' }}
    <header class="p-page_header">
      <div class="p-page_header__inner">
        <h1 class="p-page_header__inner__title u-text--head">{{ 'orders.general.cart.value' | t }}</h1>
      </div>
    </header>
  </div>
  <div class="l-container__row mt60_0">
    {% section 'carts_show_content' %}
  </div>
  <div class="cart__height"></div>

  {% comment %} {% if current_customer != null %}
    <div class="l-container__row u-margin__top--60 u-margin__bottom--100">

      <section class="p-browsing_history">
        <div class="p-browsing_history__inner">
          <header class="p-browsing_history__inner__title">
            <h2 class="p-browsing_history__inner__title__en u-text--head">HISTORY</h2>
            <span class="p-rbrowsing_history__inner__jp u-text--subhead">閲覧履歴</span>
          </header>
          <div class="p-product_slider slick">
            <ul class="p-product_slider__list" data-slides="4">
            {% for browsing_history in browsing_histories %}
              {% assign is_new = false %}
              {% if browsing_history.variants.size > 1 %}
                {% for variant in browsing_history.variants %}
                  {% if variant.is_new %}
                    {% assign is_new = true %}
                  {% endif %}
                {% endfor %}
              {% else %}
                {% if browsing_history.master.is_new %}
                  {% assign is_new = true %}
                {% endif %}
              {% endif %}

              {% assign is_sold = false %}
              {% assign stock = 0 %}
              {% unless browsing_history.master.stock_item.stock_unlimited %}
                {% if browsing_history.variants.size > 1 %}
                  {% for variant in browsing_history.variants %}
                    {% assign stock = stock | plus: variant.stock_item.stock %}
                  {% endfor %}
                {% else %}
                  {% assign stock = stock | plus: browsing_history.master.stock_item.stock %}
                {% endif %}

                {% if stock < 1 %}
                  {% assign is_sold = true %}
                {% endif %}
              {% endunless %}
              <li class="p-product_slider__item">
                <div class="c-product_item">
                  <a class ="c-product_item__link" href="/shop/products/{{ browsing_history.master.sku }}"></a>
                  <div class="c-product_item__inner__eyecatch">
                    {% if browsing_history.thumbnail.url %}
                      {% assign thumbnail = browsing_history.thumbnail.url %}
                    {% else %}
                      {% assign thumbnail = 'missing' | image_url  %}
                    {% endif %}
                    <div class="c-product_item__inner__eyecatch__img" style="background-size:contain;background-image:url({{ thumbnail }})"></div>

                    {% if is_new or is_sold %}
                      <div class="c-product_item__inner__eyecatch__tags">
                      {% if is_new %}
                        <div class="c-product_item__inner__eyecatch__tags__new u-color__bg--base">{{ 'products.general.new.value' | t }}</div>
                      {% endif %}
                      {% if is_sold %}
                        <div class="c-product_item__inner__eyecatch__tags__soldout">{{ 'products.stock.sold_out.value' | t }}</div>
                      {% endif %}
                      </div>
                    {% endif %}

                    <div class="c-product_item__actions">
                      {% unless is_sold %}
                        <form class="c-product_item__form c-product_item__form--cart" action="/shop/cart/add" method="post">
                          {% authenticity_token_tag %}
                          <input name="variant_id" type="hidden" value="{{ browsing_history.master.id }}">
                          <input name="quantity" type="hidden" value="{{ browsing_history.master.min_quantity }}">
                          <button class="c-product_item__button c-product_item__button--cart u-color__btn--text u-color__btn--bg" type="submit">
                            <i class="u-icon--cart"></i>
                          </button>
                        </form>
                      {% endunless %}

                      {% assign is_favorite = browsing_history.id | check_current_customer_favorite %}
                      {% if is_favorite %}
                        <form
                          class="c-product_item__form c-product_item__form--favorite"
                          action="/shop/products/{{ browsing_history.master.sku }}/unfavorite?customer_return_to=%2Fshop%2Fproducts%2F{{ browsing_history.master.sku }}"
                          method="post">
                          {% authenticity_token_tag %}
                          <button class="c-product_item__button c-product_item__button--favorite u-color__btn u-color__btn--text--bg" type="submit">
                            <i class="u-icon--heart"></i>
                          </button>
                        </form>
                      {% else %}
                        <form
                          class="c-product_item__form c-product_item__form--favorite"
                          action="/shop/products/{{ browsing_history.master.sku }}/favorite?customer_return_to=%2Fshop%2Fproducts%2F{{ browsing_history.master.sku }}"
                          method="post">
                          {% authenticity_token_tag %}
                          <button class="c-product_item__button c-product_item__button--favorite u-color__btn--text u-color__btn--bg" type="submit">
                            <i class="u-icon--heart"></i>
                          </button>
                        </form>
                      {% endif %}
                    </div>
                  </div>
                  <div class="c-product_item__inner__content">
                    <div class="c-product_item__inner__title u-text--subhead">{{ browsing_history.name }}</div>
                    <div class="c-product_item__inner__category u-text--subhead">
                      {% assign _category = '' %}
                      {% for category in browsing_history.product_categories %}
                        {% unless _category == '' %}
                          {% assign _category = _category | append: ', ' %}
                        {% endunless %}
                        {% assign _category = _category | append: category.name %}
                      {% endfor %}
                      {{ _category }}
                    </div>
                    {% if base_info.use_review? %}
                      {% assign is_readable = browsing_history.id | check_review_reading_rule %}
                      {% if is_readable %}
                        {% assign star_avg = browsing_history.average_star %}
                        {% if star_avg > 0 %}
                          {% assign num_of_star_avg = star_avg | floor %}
                          <div class="c-product_item__inner__star">
                            {% for i in (1..num_of_star_avg) %}
                              ★
                            {% endfor %}
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endif %}

                    {% if browsing_history.master.list_price > browsing_history.first_price %}
                      <div class="c-product_item__inner__price u-text--body">
                        <span class="origin">&yen;{{ browsing_history.master.list_price | number_with_delimiter }}</span>
                        <span class="sale u-color__text--alert">&yen;{{ browsing_history.first_price | number_with_delimiter }}</span>
                        <span>&nbsp;({{ 'products.price.tax_included.value' | t }}</span>
                        <span id="sale u-color__text--alert">&yen;{{ browsing_history.first_price_include_tax | number_with_delimiter }}</span>
                        <span>)</span>
                      </div>
                    {% else %}
                      <div class="c-product_item__inner__price u-text--body">
                        <span class="price">&yen;{{ browsing_history.first_price | number_with_delimiter }}</span>
                        <span>&nbsp;({{ 'products.price.tax_included.value' | t }}</span>
                        <span id="price">&yen;{{ browsing_history.first_price_include_tax | number_with_delimiter }}</span>
                        <span>)</span>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
            <div class="p-product_slider__nav"></div>
          </div>
        </div>
      </section>

    </div>
  {% endif %} {% endcomment %}


  {% comment %} related product {% endcomment %}
  {% assign show_recommend = false %}
  {% if base_info.use_related_products_on_cart? %}
    {% if item.product.active_related_products.size > 0 and customize_preview_mode %}
      {% assign show_recommend = true %}
    {% elsif order.related_products.size > 0 %}
      {% assign show_recommend = true %}
    {% endif %}
  {% endif %}

  {% if show_recommend %}
    <div class="l-container__row u-margin__top--60 u-margin__bottom--100">
      {% section 'carts_show_recommend' %}
    </div>
  {% endif %}
</main>

{% content_for meta_description %}
{% endcontent_for %}

{% content_for meta_keywords %}
{% endcontent_for %}

{% content_for title %}
{% endcontent_for %}

<style>


  .mt30{
    margin-top: 60px;
  }
  .mt60_0{
    margin-top: 60px;
  }
  @media screen and (max-width: 720px){
    .mt30{
      margin-top: 30px;
    }
    .mt60_0{
      margin-top: 0;
    }
    .p-cart_content__inner__side{
      margin-top: 10px;

    }
  }
</style>