<section class="p-cart_content u-color__border--border" data-section-id='carts_show_content' data-section-type='carts_show_content-section'>
  {% if order.order_items.size == 0 and customize_preview_mode != true %}
    <p class="u-text--body" style="text-align: center;">{{ 'orders.general.empty.value' | t }}</p>
  {% else %}
    <div class="p-cart_content__inner">
      <div class="p-cart_content__inner__product">
        {% if customize_preview_mode %}
          <div class="c-cart_item u-color__border--border">
            <a class="c-cart_item__img" href="/shop/products/{{ item.product.master.sku }}">
              {% if item.thumbnail %}
                {% assign item_thumbnail = item.thumbnail %}
              {% else %}
                {% assign item_thumbnail = 'missing' | image_url %}
              {% endif %}
              <div class="c-cart_item__img__inner" style="background-size:contain;background-image:url('{{ item_thumbnail }}')"></div>
            </a>
            <div class="c-cart_item__info">
              <div class="c-cart_item__info__category u-text--body">
                {% assign _category = '' %}
                {% for category in item.product.product_categories %}
                  {% if category.product_category_visibility %}
                    {% unless _category == '' %}
                      {% assign _category = _category | append: ', ' %}
                    {% endunless %}
                    {% assign _category = _category | append: category.name %}
                  {% endif %}
                {% endfor %}
                {{ _category }}
              </div>
              <a class="c-cart_item__info__title u-text--subhead" href="/shop/products/{{ item.product.master.sku }}">{{ item.product.name }}</a>
              <div class="c-cart_item__info__variant u-text--body">
                {% assign option_cnt = 0 %}
                {% for option_value in item.option_values %}
                  {% unless option_cnt == 0 %}
                    &nbsp;/&nbsp;
                  {% endunless %}
                  {{ option_value.option_type.presentation }}：{{ option_value.presentation }}
                  {% assign option_cnt = option_cnt | plus: 1 %}
                {% endfor %}
              </div>
              <form class="c-cart_item__info__quantity" action="/shop/cart" method="post">
                {% authenticity_token_tag %}
                <input name="_method" type="hidden" value="put">
                <input name="variant_id" type="hidden" value="{{ item.id }}">
                {% if item.limit_quantity? %}
                  {% assign min_quantity = item.min_quantity %}
                  {% assign max_quantity = item.max_quantity %}
                {% else %}
                  {% assign min_quantity = 1 %}
                  {% assign max_quantity = 10 %}
                {% endif %}
                <label class="c-order_quantity">
                  <input name="quantity" class="c-order_quantity__input u-color--input u-color__input--bg u-color__border--input" type="number" min="{{ min_quantity }}" max="{{ max_quantity }}" value="1">
                  <button class="c-order_quantity__minus u-color--input" type="button"><i class="u-icon--minus"></i></button>
                  <button class="c-order_quantity__plus u-color--input" type="button"><i class="u-icon--plus"></i></button>
                </label>
                <button type="submit" class="c-cart_item__info__quantity__submit u-text--btn u-color__btn--bg">{{ 'general.action.update.value' | t }}</button>
              </form>
            </div>
            <div class="c-cart_item__action">
              <div class="c-cart_item__action__delete">
                <a class="c-cart_item__action__delete__btn u-text--link" rel="nofollow" data-method="delete" href="/shop/cart/delete?variant_id={{ item.id }}">
                  <i class="u-icon--close"></i>
                  <span>{{ 'general.action.delete.value' | t }}</span>
                </a>
              </div>
              <div class="c-cart_item__action__price u-text--subhead">&yen;{{ item.list_price | times: 1 | number_with_delimiter }}</div>
            </div>
          </div>
        {% else %}
          {% for item in order.order_items %}
            <div class="c-cart_item u-color__border--border">
              <a class="c-cart_item__img" href="/shop/products/{{ item.product.master.sku }}">
                {% if item.available_thumbnail %}
                  {% assign item_thumbnail = item.available_thumbnail %}
                {% else %}
                  {% assign item_thumbnail = 'missing' | image_url %}
                {% endif %}
                <div class="c-cart_item__img__inner" style="background-size:contain;background-image:url('{{ item_thumbnail }}')"></div>
              </a>
              <div class="c-cart_item__info">
                <div class="c-cart_item__info__category u-text--body">
                  {% assign _category = '' %}
                  {% for category in item.product.product_categories %}
                    {% if category.product_category_visibility %}
                      {% unless _category == '' %}
                        {% assign _category = _category | append: ', ' %}
                      {% endunless %}
                      {% assign _category = _category | append: category.name %}
                    {% endif %}
                  {% endfor %}
                  {{ _category }}
                </div>
                <a class="c-cart_item__info__title u-text--subhead"
                   href="/shop/products/{{ item.product.master.sku }}">{{ item.product.name }}</a>
                <div class="c-cart_item__info__variant u-text--body">
                  {% assign option_cnt = 0 %}
                  {% for option_value in item.variant.option_values %}
                    {% unless option_cnt == 0 %}
                      &nbsp;/&nbsp;
                    {% endunless %}
                    {{ option_value.option_type.presentation }}：{{ option_value.presentation }}
                    {% assign option_cnt = option_cnt | plus: 1 %}
                  {% endfor %}
                </div>
                {% unless item.set_item_quantity != 0 or item.product.distribution_club or item.distribution_item_quantity != 0 or item.product.set %}
                  <form class="c-cart_item__info__quantity" action="/shop/cart" method="post">
                    {% authenticity_token_tag %}
                    <input name="_method" type="hidden" value="put">
                    <input name="variant_id" type="hidden" value="{{ item.variant_id }}">
                    {% if item.variant.limit_quantity? %}
                      {% assign min_quantity = item.variant.min_quantity %}
                      {% assign max_quantity = item.variant.max_quantity %}
                    {% else %}
                      {% assign min_quantity = 1 %}
                      {% assign max_quantity = 10 %}
                    {% endif %}
                    <label class="c-order_quantity">
                      <input name="quantity"
                            class="c-order_quantity__input u-color--input u-color__input--bg u-color__border--input"
                            type="number" min="{{ min_quantity }}" max="{{ max_quantity }}" value="{{ item.quantity }}">
                      <button class="c-order_quantity__minus u-color--input" type="button"><i class="u-icon--minus"></i>
                      </button>
                      <button class="c-order_quantity__plus u-color--input" type="button"><i class="u-icon--plus"></i>
                      </button>
                    </label>
                    <button type="submit"
                            class="c-cart_item__info__quantity__submit u-text--btn u-color__btn--bg">{{ 'general.action.update.value' | t }}</button>
                  </form>
                {% endunless %}
              </div>
              <div class="c-cart_item__action">
                <div class="c-cart_item__action__delete">
                  {% if item.set_item_quantity == 0 and item.distribution_item_quantity == 0 %}
                    <a class="c-cart_item__action__delete__btn u-text--link js-notransition" rel="nofollow" data-method="delete"
                  {% else %}
                    <a class="c-cart_item__action__delete__btn u-text--link hide" rel="nofollow" data-method="delete"
                  {% endif %}
                    href="/shop/cart/delete?variant_id={{ item.variant_id }}">
                    <i class="u-icon--close"></i>
                    <span>{{ 'general.action.delete.value' | t }}</span>
                  </a>
                </div>
                <div class="c-cart_item__action__price u-text--subhead">
                  &yen;{{ item.subtotal_price_integer | number_with_delimiter }}</div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="p-cart_content__inner__side">
        <div class="c-cart_submit">
          {% if customer_signed_in and customize_preview_mode != true %}
            <div class="c-cart_submit__block u-color__border--border">
              <a class="c-cart_submit__block__submit u-text--btn u-color__btn--bg" href="/shop/order/new">{{ 'orders.general.to_checkout.value' | t }}</a>
            </div>
          {% else %}
            {% if section.settings.login_form_on_top %}
              <form class="c-cart_submit__block u-color__border--border" action="/shop/customers/sign_in?customer_return_to=%2Fshop%2Forder%2Fnew" id="new_customer" method="post">
                {% authenticity_token_tag %}
                <div class="c-cart_submit__block__title u-text--subhead">{{ 'account.general.members_guest.value' | t }}</div>
                <div class="c-form_input">
                  <input class="c-cart_submit__block__input u-text--input u-color__input--bg u-color__border--input validate[required,custom[email]]" type="email" placeholder="{{ 'customer.placeholder.email.value' | t }}" id="customer_email" name="customer[email]" value="{{ line_email }}">
                </div>
                <div class="c-form_input">
                  <input class="c-cart_submit__block__input u-text--input u-color__input--bg u-color__border--input validate[required,minSize[8]]" type="password" placeholder="{{ 'customer.placeholder.password.value' | t }}" id="customer_password" name="customer[password]">
                </div>
                <button class="c-cart_submit__block__submit u-text--btn u-color__btn--bg" type="submit">{{ 'account.general.login_and_purchase.value' | t }}</button>
              </form>
              {% comment %} <div class="c-cart_submit__block u-color__border--border">
                <a class="c-cart_submit__block__submit u-text--btn u-color__btn--bg" href="/shop/customers/sign_in?customer_return_to=%2Fshop%2Forder%2Fnew">{{ 'account.general.register_and_purchase.value' | t }}</a>
                {% if section.settings.guest == true or section.settings.guest == 'true' %}
                  <a class="c-cart_submit__block__link u-text--link" href="/shop/order/new?register_as_member=0">{{ 'account.general.not_register_and_purchase.value' | t }}</a>
                {% endif %}
              </div> {% endcomment %}
              <div class="c-cart_submit__block u-color__border--border">
                <a class="c-cart_submit__block__submit u-text--btn u-color__btn--bg" href="/shop/order/new">{{ 'account.general.register_and_purchase.value' | t }}</a>
                {% if section.settings.guest == true or section.settings.guest == 'true' %}
                  <a class="c-cart_submit__block__link u-text--link" href="/shop/order/new">{{ 'account.general.not_register_and_purchase.value' | t }}</a>
                {% endif %}
              </div>
            {% else %}
              {% comment %} <div class="c-cart_submit__block u-color__border--border">
                <a class="c-cart_submit__block__submit u-text--btn u-color__btn--bg" href="/shop/customers/sign_in?customer_return_to=%2Fshop%2Forder%2Fnew">{{ 'account.general.register_and_purchase.value' | t }}</a>
                {% if section.settings.guest == true or section.settings.guest == 'true' %}
                  <a class="c-cart_submit__block__link u-text--link" href="/shop/order/new?register_as_member=0">{{ 'account.general.not_register_and_purchase.value' | t }}</a>
                {% endif %}
              </div> {% endcomment %}
              <div class="c-cart_submit__block u-color__border--border">
                <a class="c-cart_submit__block__submit u-text--btn u-color__btn--bg" href="/shop/order/new">{{ 'account.general.register_and_purchase.value' | t }}</a>
                {% if section.settings.guest == true or section.settings.guest == 'true' %}
                  <a class="c-cart_submit__block__link u-text--link" href="/shop/order/new?register_as_member=0">{{ 'account.general.not_register_and_purchase.value' | t }}</a>
                {% endif %}
              </div>
              <form class="c-cart_submit__block u-color__border--border" action="/shop/customers/sign_in?customer_return_to=%2Fshop%2Forder%2Fnew" id="new_customer" method="post">
                {% authenticity_token_tag %}
                <div class="c-cart_submit__block__title u-text--subhead">{{ 'account.general.members_guest.value' | t }}</div>
                <div class="c-form_input">
                  <input class="c-cart_submit__block__input u-text--input u-color__input--bg u-color__border--input validate[required,custom[email]]" type="email" placeholder="{{ 'customer.placeholder.email.value' | t }}" id="customer_email" name="customer[email]" value="{{ line_email }}">
                </div>
                <div class="c-form_input">
                  <input class="c-cart_submit__block__input u-text--input u-color__input--bg u-color__border--input validate[required,minSize[8]]" type="password" placeholder="{{ 'customer.placeholder.password.value' | t }}" id="customer_password" name="customer[password]">
                </div>
                <button class="c-cart_submit__block__submit u-text--btn u-color__btn--bg" type="submit">{{ 'account.general.login_and_purchase.value' | t }}</button>
              </form>
            {% endif %}
            {% if line_settings['display_btn'] == '1' %}
              {% if customer_signed_in == false and encrypted_line_id == null %}
                <!-- LINE ID 連携ボタン（リンク） -->
                <div class="line_ec">
                  <div class="button-container">
                    <a class="button btn-line line-token-set-btn" href="#">
                      <span class="before-btn-line" style="background-image:url('{{ theme_file_root_path }}/assets/images/login-line.png')"></span>
                      {{ 'account.line.line_id.value' | t }}
                      <span class="after-btn-line"></span>
                    </a>
                  </div>
                </div>
              {% elsif customer_signed_in == true and current_customer.line_id? == false %}
                <!-- LINE ID 連携ボタン（リンク） -->
                <div class="line_ec" style="display: block;">
                  <div class="button-container" style="margin: auto;">
                    <a class="button btn-line line-token-set-btn" href="#">
                      <span class="before-btn-line" style="background-image:url('{{ theme_file_root_path }}/assets/images/login-line.png')"></span>
                      {{ 'account.line.line_id.value' | t }}
                      <span class="after-btn-line"></span>
                    </a>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        <div class="c-billing_list u-color__bg--bg">
          <div class="c-billing_list__title u-text--subhead u-color__border--border">{{ 'orders.amount.order_amount.value' | t }}</div>
          <ul class="c-billing_list__detail u-color__border--border">
            <li class="c-billing_list__detail__item">
              <dl class="c-billing_list__detail__item__row">
                <dt class="c-billing_list__detail__item__row__title u-text--body">{{ 'orders.amount.subtotal.value' | t }}</dt>
                <dd class="c-billing_list__detail__item__row__price u-text--body">&yen;{{ order.subtotal | number_with_delimiter }}</dd>
              </dl>
            </li>
            <li class="c-billing_list__detail__item">
              <dl class="c-billing_list__detail__item__row">
                <dt class="c-billing_list__detail__item__row__title u-text--body">{{ 'orders.amount.tax.value' | t }}</dt>
                <dd class="c-billing_list__detail__item__row__price u-text--body">&yen;{{ order.subtotal_tax | number_with_delimiter }}</dd>
              </dl>
              {% if order.subtotal8 > 0 %}
                <div class="c-billing_list__detail__item__tax">
                  <div class="c-billing_list__detail__item__tax__rate u-text--strong">{{ 'orders.amount.10_percent_target.value' | t }}</div>
                  <ul class="c-billing_list__detail__item__tax__list">
                    <li class="c-billing_list__detail__item__tax__list__item">
                      <div class="c-billing_list__detail__item__tax__list__item__title u-text--body">{{ 'orders.amount.subtotal.value' | t }}</div>
                      <div class="c-billing_list__detail__item__tax__list__item__price u-text--body">&yen;{{ order.subtotal10 | number_with_delimiter }}</div>
                    </li>
                    <li class="c-billing_list__detail__item__tax__list__item">
                      <div class="c-billing_list__detail__item__tax__list__item__title u-text--body">{{ 'orders.amount.tax.value' | t }}</div>
                      <div class="c-billing_list__detail__item__tax__list__item__price u-text--body">&yen;{{ order.subtotal10_tax | number_with_delimiter }}</div>
                    </li>
                  </ul>
                </div>
                <div class="c-billing_list__detail__item__tax">
                  <div class="c-billing_list__detail__item__tax__rate u-text--strong">{{ 'orders.amount.8_percent_target.value' | t }}</div>
                  <ul class="c-billing_list__detail__item__tax__list">
                    <li class="c-billing_list__detail__item__tax__list__item">
                      <div class="c-billing_list__detail__item__tax__list__item__title u-text--body">{{ 'orders.amount.subtotal.value' | t }}</div>
                      <div class="c-billing_list__detail__item__tax__list__item__price u-text--body">&yen;{{ order.subtotal8 | number_with_delimiter }}</div>
                    </li>
                    <li class="c-billing_list__detail__item__tax__list__item">
                      <div class="c-billing_list__detail__item__tax__list__item__title u-text--body">{{ 'orders.amount.tax.value' | t }}</div>
                      <div class="c-billing_list__detail__item__tax__list__item__price u-text--body">&yen;{{ order.subtotal8_tax | number_with_delimiter }}</div>
                    </li>
                  </ul>
                </div>
              {% endif %}
            </li>
          </ul>
          <div class="c-billing_list__total">
            <div class="c-billing_list__total__title u-text--subhead">{{ 'orders.amount.total.value' | t }}</div>
            <div class="c-billing_list__total__price u-text--subhead">&yen;{{ order.subtotal_include_subtotal_tax | number_with_delimiter }}</div>
          </div>

          <p style="text-align: right; font-size: 13px; color: #32667A; padding-top: 10px;">＊配送料は購入手続き時に計算されます</p>
        </div>
      </div>
    </div>
  {% endif %}
</section>