
<%
var imgpath = '{{ theme_file_root_path }}';
// var imgpath = '';

%>


<ul class="upthome__products--blc deverse">
    <li>
        <a href="/shop/products/handcream">
            <div class="upthome__products--blc-box">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/home_product-handcream.webp"
                        type="image/webp">

                    <img src="<%= imgpath %>/assets/images/uptorigin/home_product-handcream.png"
                        alt="HAND CREAM ハンドクリーム" width="1104" height="1095">
                </picture>

                <div class="upthome__products--nameblc">
                    <h3 class="upthome__products--name">HAND CREAM</h3>
                    <p class="upthome__products--jpname">ハンドクリーム<span class="italic">20g</span></p>
                </div>
                <p class="upthome__products--feature"></p>
                <p class="upthome__products--featuretxt">New</p>

            </div>
            <p class="upthome__products--linkbtn">
                <span>詳細はこちら</span>
            </p>
        </a>
    </li>
    <li>
        <a href="/shop/products/creamy_whipwash">
            <div class="upthome__products--blc-box">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/home_product-wash.webp"
                        type="image/webp">

                    <img src="<%= imgpath %>/assets/images/uptorigin/home_product-wash.png"
                        alt="CREAMY WHIP WASH クリーミーホイップウォッシュ" width="1104" height="1095">
                </picture>
                <div class="upthome__products--nameblc">
                    <h3 class="upthome__products--name">CREAMY WHIP WASH</h3>
                    <p class="upthome__products--jpname">クリーミーホイップウォッシュ<span class="italic">200mL</span></p>
                </div>
            </div>
            <p class="upthome__products--linkbtn">
                <span>詳細はこちら</span>
            </p>
        </a>
    </li>
    <li>
        <a href="/shop/products/cleansing_balm">
            <div class="upthome__products--blc-box">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/home_product-balm.webp"
                        type="image/webp">

                    <img src="<%= imgpath %>/assets/images/uptorigin/home_product-balm.png"
                        alt="CLEANSING BALM クレンジングバーム" width="1104" height="1095">
                </picture>

                <div class="upthome__products--nameblc">
                    <h3 class="upthome__products--name">CLEANSING BALM</h3>
                    <p class="upthome__products--jpname">クレンジングバーム<span class="italic">100g</span></p>
                </div>
            </div>
            <p class="upthome__products--linkbtn">
                <span>詳細はこちら</span>
            </p>
        </a>
    </li>

</ul>
