 <section class="uptproduct__fv" id="cleansingbalm">
     <!-- ここから -->
     <div class="uptblc__buyblc">
         <div class="uptblc__buyblc--img">
             <div class="uptblc__buyblc--swiper" id="js-cleansingSwiper">
                 <div class="cleansingSwiper01">
                     <div class="swiper mySwiper2">
                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                <div class="pc">
                                    <picture>
                                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm01.webp"
                                            type="image/webp">
                                        <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm01.png"
                                            alt="CLEANSING SET" width="1100" height="1050">
                                    </picture>
                                </div>
                                <div class="sp">
                                    <picture>
                                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm01_sp.webp"
                                            type="image/webp">
                                        <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm01_sp.png"
                                            alt="CLEANSING SET" width="1035" height="1290">
                                    </picture>
                                </div>
                             </div>

                             <div class="swiper-slide">
                                <div class="pc">
                                    <picture>
                                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm02b.webp"
                                            type="image/webp">
                                        <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm02b.jpg"
                                            alt="CLEANSING SET" width="1100" height="1050">
                                    </picture>
                                </div>
                                <div class="sp">
                                    <picture>
                                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm02b_sp.webp"
                                            type="image/webp">
                                        <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm02b_sp.png"
                                            alt="CLEANSING SET" width="1035" height="1290">
                                    </picture>
                                </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="pc">
                                     <picture>
                                         <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm03b.webp"
                                             type="image/webp">
                                         <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm03b.png"
                                             alt="CLEANSING SET" width="1100" height="1050">
                                     </picture>
                                 </div>
                                 <div class="sp">
                                    <picture>
                                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm03b_sp.webp"
                                            type="image/webp">
                                        <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm03b_sp.jpg"
                                            alt="CLEANSING SET" width="1035" height="1290">
                                    </picture>
                                </div>
                             </div>
                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                     </div>
                 </div>

                 <div class="cleansingSwiper">
                     <div thumbsSlider="" class="swiper mySwiper"
                         style="--swiper-navigation-color: #32667A; --swiper-pagination-color: #fff">

                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm01sm.webp"
                                         type="image/webp">
                                     <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm01sm.png"
                                         alt="CLEANSING SET" width="678" height="525">
                                 </picture>
                             </div>


                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm02sm.webp"
                                         type="image/webp">
                                     <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm02sm.png"
                                         alt="CLEANSING SET" width="678" height="525">
                                 </picture>
                             </div>
                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm03sm.webp"
                                         type="image/webp">
                                     <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-balm03sm.png"
                                         alt="CLEANSING SET" width="678" height="525">
                                 </picture>
                             </div>
                         </div>


                     </div>
                 </div>
             </div>

         </div>

         <div class="uptblc__buyblc__spborder"></div>

         <div class="uptblc__buyblc--s">
             <div class="uptblc__buyblc--rblc">
                 <div class="uptblc__buyblc--contents">
                     <div>
                         <h2 class="upt__name uptblc__buyblc--txt00">CLEANSING<br>BALM</h2>
                         <h3 class="uptblc__buyblc--txt01">クレンジングバーム〈クレンジング〉<br><span style="font-style: italic">100g</span></h3>
                         <p class="uptblc__buyblc--txt02">
                            メイクや皮脂をしっかりと浮かせて、<br>
                            磨き上げたようななめらかなお肌に。<br>
                            体温でとろけるバームタイプのクレンジング料。<br>
                            なじませるとオイルに変化し<br>
                            摩擦を抑えながらつるんと落とします。
                         </p>

                         <p class="upt__price uptblc__buyblc--txt03">¥2,750 (tax in)</p>


                         <div class="uptblc__buyblc--btn">
                             <!-- 商品選択フォーム -->
                             <form action="/shop/cart/add" method="post">
                                 <div style="display: none">
                                     <!-- 規格選択 -->
                                     <input id="variant-id" type="hidden" name="variant_id"
                                         value="{{ product.master.id }}">
                                     <div id="option_types"></div>

                                     <!-- 数量選択 -->
                                     <label>数量</label>
                                     <input id="text-out-of-stock" value="在庫切れ" disabled style="display:none;">
                                     <select id="quantity" name="quantity" style="display:none;"></select>

                                     <!-- 再入荷お知らせ -->
                                     <a id="btn-stock-waiting-list" href="javascript:void(0);"
                                         style='display:none;'>再入荷お知らせ</a>
                                 </div>
                                 <!-- /display: none -->

                                 <!-- カート追加 -->
                                 <button id="btn-add">
                                     <p class="txt">購入はこちら</p><span></span>
                                 </button>

                             </form>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- ここまで -->
 </section>


 <section class="cleandingblc">
    <div class="cleandingblc__dright">
        <div class="pc">
            <picture>
                <source srcset="<%= imgpath %>/assets/images/uptorigin/img_prodcut-balm0b.webp"
                    type="image/webp">
                <img src="<%= imgpath %>/assets/images/uptorigin/img_prodcut-balm0b.jpg"
                    alt="CLEANSING SET" width="1650" height="1050">
            </picture>
        </div>
        <div class="sp">
            <picture>
                <source srcset="<%= imgpath %>/assets/images/uptorigin/img_prodcut-balm-sp0b.webp"
                    type="image/webp">
                <img src="<%= imgpath %>/assets/images/uptorigin/img_prodcut-balm-sp0b.jpg"
                    alt="CLEANSING SET" width="1089" height="1035">
            </picture>
        </div>
    </div>
    <div class="cleandingblc__dleft">
        <div class="cleandingblc__setitem--top">
            <p class="cleandingblc__setitem--toptxt">手とお顔が乾いた状態で約2cmを目安に取り、手のひらでなじませる。<br>
                お顔の中心から外、下から上に優しくマッサージするようにメイクとなじませ、水またはぬるま湯でよく洗い流す。</p>
        </div>
        <div class="cleandingblc__setitem--absolute">
            <ul class="cleandingblc__setitem--list" id="js-accordion-wash">
                <li>
                    <p class="cleandingblc__setitem--list-ttl">4つのフリー処方<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <div class="cleandingblc__setitem--listimg">
                            <div class="pc">
                                <picture>
                                    <source srcset="<%= imgpath %>/assets/images/uptorigin/img_four-balm-pc.webp"
                                        type="image/webp">
                                    <img src="<%= imgpath %>/assets/images/uptorigin/img_four-balm-pc.png"
                                        alt="4つの処方" width="892" height="250">
                                </picture>
                                
                            </div>
                            <div class="sp">
                                <picture>
                                    <source srcset="<%= imgpath %>/assets/images/uptorigin/img_four-balm-sp.webp"
                                        type="image/webp">
                                    <img src="<%= imgpath %>/assets/images/uptorigin/img_four-balm-sp.png"
                                        alt="4つの処方" width="509" height="473">
                                </picture>

                            </div>
                            
                        </div>
                    </div>
                </li>
                <li>
                    <p class="cleandingblc__setitem--list-ttl">成分<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <p>パルミチン酸エチルヘキシル、オクチルドデカノール、トリイソステアリン酸PEGー２０グリセリル、合成ワックス、マカデミア種子油、水添ヒマシ油、ラウロイルグルタミン酸ジ（フィトステリル／オクチルドデシル）、ホホバ種子油、フェノキシエタノール、トコフェロール</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
 </section>


<section class="cleansing__point">
    <h2 class="uptblc__ttl">POINT</h2>
    <div class="cleansing__point--blcwrp">
        <div class="cleansing__point--blc">
            <div class="cleansing__point--blc-img">
                <div class="pc">
                    <picture>
                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_prodcut-balm-pointpc0c.webp"
                            type="image/webp">
                        <img src="<%= imgpath %>/assets/images/uptorigin/img_prodcut-balm-pointpc0c.jpg" alt="安達祐実" width="1650"
                            height="1282" class="">
                    </picture>
                </div>
                <div class="sp">
                    <picture>
                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_prodcut-balm-pointsp.webp"
                            type="image/webp">
                        <img src="<%= imgpath %>/assets/images/uptorigin/img_prodcut-balm-pointsp.jpg" alt="安達祐実" width="690"
                            height="600" class="">
                    </picture>
                </div>

            </div>
        </div>
        <div class="cleansing__point--blc rborder-none">
            <div class="cleansing__point--blc-txt">
                <h3>CLEANSING BALM</h3>
                <h4>point - 1</h4>
                <p class="cleansing__point--txt">濡れた手でもスムーズに使えるワンタッチ式キャップのチューブを採用。手軽で衛生的なバームタイプのクレンジングを実現しました。</p>

                <h4>point - 2</h4>
                <p class="cleansing__point--txt">体温によってお肌の上でじゅわっととろけるバームタイプ。メイクや毛穴に詰まった角栓汚れにも素早くなじみ摩擦をかけずに簡単メイクオフ。</p>

                <h4>point - 3</h4>
                <p class="cleansing__point--txt">エモリエントオイルをたっぷり配合した、なめらかな使い心地で洗い上がりもつっぱらずしっとり仕上げます。</p>

            </div>
        </div>
    </div>

    
</section>

 <script src="<%= imgpath %>/assets/cleansing.js"></script>