<% 
var pageinit = {
  ecforce : 'true',
};
    imgpath =  '';   
    imgpath = '{{ theme_file_root_path }}';
%>

<div class="cosme bcream" id="bcream">

  <section class="item">
    <!-- {% comment %} 商品名 {% endcomment %} -->
    <h1 class="item__name" id="item__name">SKIN BASE CREAM</h1>

    <!-- item__swiper -->
    <div class="item__swiper">
      <!-- Slider main container -->
      <div class="swiper cosmeSwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper01.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper01.jpg" alt="" width="" height="">
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper02.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper02.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper03.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper03.jpg" alt="" width="" height="">
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper04.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper04.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper05.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper05.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper02.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper02.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper03.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper03.jpg" alt="" width="" height="">
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper04.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper04.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper05.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper05.jpg" alt="" width="" height="">
            </picture>
          </div>
        </div>

      </div>


      <div class="thumb__blc">
        <!-- Slider main container -->

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <div class="swiper cosmeSwiper__thumb">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb01.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb01.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb02.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb02.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb03.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb03.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb04.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb04.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb05.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb05.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb01.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb01.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb02.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb02.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb03.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb03.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb04.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb04.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb05.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-swiper_thumb05.jpg" alt="" width="" height="">
            </picture>
          </div>

        </div>

      </div>
      
    </div>

    <div class="item__details">
      <div class="item__details--inner">
        <div class="item__details--lblc">
          <% if (pageinit.ecforce === 'true') { %>
          {% capture name %}
          <p class="item__details--name">{{ product.name }}</p>
          {% endcapture %}
          <% } else { %>
          <p class="item__details--name">SKIN BASE CREAM</p>
          <% } %>

          <p class="item__details--jpname">スキンベースクリーム<br><i>SPF38 PA+++ 30g</i></p>
          <p class="item__details--price">¥2,530 <i>(tax in)</i></p>
        </div>
        <div class="item__details--icon">
          <img src="<%= imgpath %>/assets/images/uptorigin/icon_bcream.png" alt="" width="" height="">
        </div>
      </div>



    </div>



    <div class="uptblc__buyblc--btn">
      <!-- 商品選択フォーム -->
      <% if (pageinit.ecforce === 'true') { %>
        {% if variant.stock_item.stock == 0 %}

      <% } %>
        <div id="btn-add" class="soldout">
          <p class="txt">SOLD OUT</p><span></span>
        </div>


      <% if (pageinit.ecforce === 'true') { %>
        {% elsif variant.stock_item.stock > 0 %}
      <% } %>
      <form action="/shop/cart/add" method="post">
        <div style="display: none">
          <!-- 規格選択 -->
          <input id="variant-id" type="hidden" name="variant_id" value="{{ product.master.id }}">
          <div id="option_types"></div>

          <!-- 数量選択 -->
          <label>数量</label>
          <input id="text-out-of-stock" value="在庫切れ" disabled style="display:none;">
          <select id="quantity" name="quantity" style="display:none;"></select>

          <!-- 再入荷お知らせ -->
          <a id="btn-stock-waiting-list" href="javascript:void(0);" style='display:none;'>再入荷お知らせ</a>
        </div>
        <!-- /display: none -->

        <!-- カート追加 -->
        <button id="btn-add">
          <p class="txt">購入はこちら</p><span></span>
        </button>

      </form>
      
      <% if (pageinit.ecforce === 'true') { %>
        {% endif %}
        <% } %>
    </div>

    <div class="item__intro">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream.jpg" alt="" width="" height="">
      </picture>
      <% if (pageinit.ecforce === 'true') { %>
      <p class="item__intro--name">{{ product.name }}</p>
      <% } else { %>
      <p class="item__intro--name">SKIN BASE CREAM</p>
      <% } %>
      <p class="item__intro--txt">
        化粧下地いらずでお肌にピタッとフィット<br>肌悩みをカバーしながら<br>ツヤ肌に導くベースクリーム
      </p>


    </div>

    <div class="item__vbcream">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-vall.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-vall.png" alt="" width="" height="">
      </picture>

    </div>

  </section>


  <section class="point" id="point">
    <h2 class="content__ttl"><span>POINT</span></h2>
    <div class="point__txtwrap point1">
      <h3 class="point__subttl">POINT1</h3>
      <p class="point__txt">化粧下地とファンデーションを兼ねた、<br>
        クリーミーで伸びがよくべたつかないテクスチャ</p>
      <p class="point__small">
        化粧下地のなめらかさとファンデーションのカバー力を兼ねており毎日のベースメイクを手軽に楽しめるように、少量でも伸びが良く、伸ばしたあとはお肌にピタッと密着しベタつきが残らないテクスチャにこだわりました。</p>

    </div>


    <div class="point__bcreamimg">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-point00.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-point00.png" alt="" width="" height="">
      </picture>
    </div>

    <div class="point__img">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-point.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-point.png" alt="" width="" height="">
      </picture>
    </div>
    <div class="point__txtwrap">

      <h3 class="point__subttl">POINT2</h3>
      <p class="point__txt">気になる肌悩みをカバーする肌補正<inf>※</inf>処方</p>
      <p class="point__small">サイズ違いの2種類の微細パールがお肌に光を集め、くすみや赤み、シミ、毛穴などの気になる肌悩みをカバーしながらうるおいを感じる明るいお肌に見せます。</p>
    </div>
    <div class="point__txtwrap">
      <h3 class="point__subttl">POINT3</h3>
      <p class="point__txt">時間が経っても崩れにくい</p>
      <p class="point__small">表情などの動きに合わせてフィットする皮膜剤を使用することで、時間が経ってもベースクリームがシワに入りにくく、崩れにくい処方です。</p>
    </div>
    <div class="point__txtwrap">
      <h3 class="point__subttl">POINT4</h3>
      <p class="point__txt">ツヤ感のあるうるおい肌へ導く<br>
        美容保湿成分配合</p>
      <p class="point__small">
        サラッとしたテクスチャなのに、乾燥しにくい高保湿処方。美容保湿成分として温泉水、セラミドＮＰ、セラミドＡＰ、セラミドＮＧ、グリチルリチン酸２Ｋ、CICA(ツボクサ葉／茎エキス)、ナイアシンアミド、ヒアルロン酸Ｎａを配合しました。
      </p>
    </div>
    <div class="content__smallblc">
      <p class="point__notice">※ メイクアップ効果による</p>

    </div>
  </section>

  <section class="prescription" id="prescription">
    <details class="prescription__blc">
      <summary class="prescription__blc--small">
        <p class="prescription__ttl">5つのフリー処方</p>
        <span class="prescription__arrow--plus"></span>
      </summary>
      <div class="prescription__sblc">
        <div class="prescription__sblc--three">

          <img src="<%= imgpath %>/assets/images/uptorigin/img_seibun-bcream.png" alt="" width="" height="">
        </div>
      </div>
    </details>
    <details class="prescription__blc">
      <summary class="prescription__blc--small">
        <p class="prescription__ttl">成分</p>
        <span class="prescription__arrow--plus"></span>
      </summary>
      <div class="prescription__sblc">
        <!-- <p class="prescription__sblc--ttl">01 ウォームヌード</p> -->
        <p class="prescription__sblc--seibun">
          ＜成分＞
          水、シクロペンタシロキサン、トリエチルヘキサノイン、ＢＧ、グリセリン、ＰＥＧ－１０ジメチコン、ジメチコン、カプリリルメチコン、テトラエチルヘキサン酸ペンタエリスリチル、ポリメチルシルセスキオキサン、イソステアリン酸デキストリン、ＰＥＧ／ＰＰＧ／ポリブチレングリコール－８／５／３グリセリン、ペンチレングリコール、（ＨＤＩ／トリメチロールヘキシルラクトン）クロスポリマー、ハイドロゲンジメチコン、シリカ、硫酸Ｍｇ、水酸化Ａｌ、トリエトキシカプリリルシラン、温泉水、セラミドＮＰ、セラミドＡＰ、セラミドＮＧ、フィトスフィンゴシン、グリチルリチン酸２Ｋ、ツボクサ葉／茎エキス、ナイアシンアミド、ヒアルロン酸Ｎａ、ジエチルヘキサン酸ネオペンチルグリコール、ジステアルジモニウムヘクトライト、ＰＥＧ－９ジメチコン、セスキイソステアリン酸ソルビタン、ペンタステアリン酸ポリグリセリル－１０、ステアロイルラクチレートＮａ、ベヘニルアルコール、クエン酸Ｎａ、トコフェロール、フェノキシエタノール、合成フルオロフロゴパイト、マイカ、酸化亜鉛、酸化チタン、酸化鉄
        </p>

      </div>
    </details>
  </section>

  <section class="itemlast" id="itemlast">
    <div class="itemlast__img">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_base--btm.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_base--btm.jpg" alt="" width="" height="">
      </picture>
    </div>
    <p class="itemlast__txt">ありのままをいかして<br>
      自分らしくを美しく</p>
  </section>

  <section class="otheritem" id="cosmeOther">
    <h2 class="otheritem__ttl">OTHER PRODUCTS</h2>
    <%- include('./_cosmeOther', { meta: imgpath }); %>

  </section>

</div>