<% 
var pageinit = {
  ecforce : 'true',
};
    imgpath =  '';   
    imgpath = '{{ theme_file_root_path }}';
%>


<div class="cosme bcream" id="bcream">

  <section class="item">
    <!-- {% comment %} 商品名 {% endcomment %} -->


    <h1 class="item__name" id="item__name">PERFECT BASE PALETTE</h1>
    <div class="item__swiper">
      <!-- Slider main container -->
      <div class="swiper cosmeSwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper01.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper01.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper02.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper02.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper03.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper03.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper04.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper04.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper01.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper01.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper02.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper02.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper03.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper03.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper04.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper04.jpg" alt="" width="" height="">
            </picture>
          </div>       
         </div>

      </div>


      <div class="thumb__blc">
        <!-- Slider main container -->
 
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="swiper cosmeSwiper__thumb">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb01.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb01.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb02.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb02.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb03.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb03.jpg" alt="" width="" height="">
            </picture>

          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb04.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb04.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb01.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb01.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb02.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb02.jpg" alt="" width="" height="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb03.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb03.jpg" alt="" width="" height="">
            </picture>

          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb04.webp" type="image/webp">
              <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-swiper_thumb04.jpg" alt="" width="" height="">
            </picture>
          </div>

        </div>

      </div>

    </div>


    <div class="item__details">
      <div class="item__details--inner">
        <div class="item__details--lblc">
          <% if (pageinit.ecforce === 'true') { %>
          {% capture name %}
          <p class="item__details--name">{{ product.name }}</p>
          {% endcapture %}
          <% } else { %>
          <p class="item__details--name">PERFECT BASE PALETTE</p>
          <% } %>

          <p class="item__details--jpname">パーフェクトベースパレット</p>
          <p class="item__details--price">¥2,420 <i>(tax in)</i></p>
        </div>
        <div class="item__details--icon">
          <img src="<%= imgpath %>/assets/images/uptorigin/icon_bpallete.png" alt="" width="" height="">
        </div>
      </div>



    </div>


    <div class="uptblc__buyblc--btn">
      <!-- 商品選択フォーム -->
      <form action="/shop/cart/add" method="post">
        <div style="display: none">
          <!-- 規格選択 -->
          <input id="variant-id" type="hidden" name="variant_id" value="{{ product.master.id }}">
          <div id="option_types"></div>

          <!-- 数量選択 -->
          <label>数量</label>
          <input id="text-out-of-stock" value="在庫切れ" disabled style="display:none;">
          <select id="quantity" name="quantity" style="display:none;"></select>

          <!-- 再入荷お知らせ -->
          <a id="btn-stock-waiting-list" href="javascript:void(0);" style='display:none;'>再入荷お知らせ</a>
        </div>
        <!-- /display: none -->

        <!-- カート追加 -->
        <button id="btn-add">
          <p class="txt">購入はこちら</p><span></span>
        </button>

      </form>

    </div>


    <div class="item__intro">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet.jpg" alt="" width="" height="">
      </picture>
      <% if (pageinit.ecforce === 'true') { %>
      <p class="item__intro--name">{{ product.name }}</p>
      <% } else { %>
      <p class="item__intro--name">PERFECT BASE PALETTE</p>
      <% } %>
      <p class="item__intro--txt">
        体温でとろけてピタッと密着<br>ナチュラルな透明感<inf>※1</inf>を引き出すベースパレット
      </p>


    </div>

    <div class="item__vbpallet">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-vall.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-vall.png" alt="" width="" height="">
      </picture>

    </div>

  </section>


  <section class="point" id="point">
    <h2 class="content__ttl"><span>POINT</span></h2>
    <div class="point__txtwrap">
      <h3 class="point__subttl">POINT1</h3>
      <div class="point__flxb">
      <div>
        <p class="point__txt">体温でとろける<br>
          やわらかでフィット感が<br>
          あるテクスチャ</p>
        <p class="point__small">
          目元の小ジワや毛穴などお肌の気になる部分を綺麗にカバーし、お肌になめらかにフィットしてヨレにくいテクスチャです。</p>
      </div>
      <div class="point__flxb--img">
        <picture>
          <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-point01.webp" type="image/webp">
          <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-point01.png" alt="" width="" height="">
        </picture>
      </div>
    </div>
    </div>




    <div class="point__img">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bcream-point.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_bcream-point.png" alt="" width="" height="">
      </picture>
    </div>

    
    <div class="point__txtwrap">
      <h3 class="point__subttl">POINT2</h3>
      <div class="point__flxb">
        <div>
          <p class="point__txt">肌トーンを整える<br>
            コンシーラー</p>
          <p class="point__small">オレンジで目の下のクマなど青みが気になる部分に血色を与え、ベージュでニキビ跡やシミ、赤みが気になる部分をカバーし、オレンジの上に重ねることでお肌の明るさを調整します。
          </p>

        </div>

        <div class="point__flxb--img02">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_bpallet-point02.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_bpallet-point02.png" alt="" width="" height="">
          </picture>
        </div>
      </div>

    </div>
    <div class="point__txtwrap">
      <h3 class="point__subttl">POINT3</h3>
      <p class="point__txt">微細パールが輝く濡れツヤハイライト</p>
      <p class="point__small">明るさやツヤを出したい部分に集中的に光を集めながら、白浮きしたり派手になったりせずに毎日のメイクで使えるパールのサイズと配合量にこだわりました。</p>
    </div>
    <div class="point__txtwrap">
      <h3 class="point__subttl">POINT4</h3>
      <p class="point__txt">美容保湿成分配合</p>
      <p class="point__small">目元などの乾燥が気になる部分に使ってもうるおいを持続させる美容保湿成分としてヒアルロン酸Na・スクワラン<inf>※2</inf>・シアバター<inf>※3</inf>を配合しました。(すべて保湿成分)</p>
    </div>
    <div class="content__smallblc">
      <p class="point__notice">※1 メイクアップ効果による ※2 オリーブ由来 ※3 シア脂</p>

    </div>
  </section>

  <section class="prescription" id="prescription">
    <details class="prescription__blc">
      <summary class="prescription__blc--small">
        <p class="prescription__ttl">7つのフリー処方</p>
        <span class="prescription__arrow--plus"></span>
      </summary>
      <div class="prescription__sblc">
        <div class="prescription__sblc--four">

          <img src="<%= imgpath %>/assets/images/uptorigin/img_seibun07.png" alt="" width="" height="">
        </div>
      </div>
    </details>
    <details class="prescription__blc">
      <summary class="prescription__blc--small">
        <p class="prescription__ttl">成分</p>
        <span class="prescription__arrow--plus"></span>
      </summary>
      <div class="prescription__sblc">
        <!-- <p class="prescription__sblc--ttl">01 ウォームヌード</p> -->
        <p class="prescription__sblc--seibun">
          ＜成分＞イソステアリン酸ヘキシルデシル、（ＨＤＩ／ＰＰＧ／ポリカプロラクトン）クロスポリマー、トリエチルヘキサノイン、リンゴ酸ジイソステアリル、合成ワックス、イソステアリン酸水添ヒマシ油、トリイソステアリン酸ポリグリセリル－２、炭酸Ｃａ、合成フルオロフロゴパイト、オレイン酸ポリグリセリル－２、シリカ、パラフィン、（エチレン／プロピレン）コポリマー、マイクロクリスタリンワックス、キャンデリラロウエステルズ、１，２－ヘキサンジオール、フェノキシエタノール、カルナウバロウ、トコフェロール、エチルヘキシルグリセリン、カプリル酸グリセリル、スクワラン、シア脂、酸化スズ、タルク、ＢＨＴ、ヒアルロン酸Ｎａ、酸化チタン、マイカ、酸化鉄、水酸化Ａｌ
        </p>

      </div>
    </details>
  </section>


  <section class="itemlast" id="itemlast">
    <div class="itemlast__img">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_base--btm.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_base--btm.jpg" alt="" width="" height="">
      </picture>
    </div>
    <p class="itemlast__txt">ありのままをいかして<br>
      自分らしくを美しく</p>
  </section>

  <section class="otheritem" id="cosmeOther">
    <h2 class="otheritem__ttl">OTHER PRODUCTS</h2>
    <%- include('./_cosmeOther', { meta: imgpath }); %>

  </section>

</div>