<%
var imgpath = '{{ theme_file_root_path }}';
// var imgpath = '';
%>

<ul class="lineup__list">
  <li>
    <a href="/shop/products/4595121188356">
      <div class="lineup__list--img">
        <picture>
          <source srcset="<%= imgpath %>/assets/images/uptorigin/img_cosme-product01.webp" type="image/webp">
          <img src="<%= imgpath %>/assets/images/uptorigin/img_cosme-product01.jpg" alt="" width="400"
            height="400">
        </picture>
        <div class="lineup__list--badge"></div>
        <span class="lineup__list--badge-new">NEW</span>
      </div>
      <p class="lineup__list--name">SKIN BASE CREAM</p>
      <p class="lineup__list--namejp">スキンベースクリーム</p>
    </a>
  </li>
  <li>
    <a href="/shop/products/4595121188394">
      <div class="lineup__list--img">
        <picture>
          <source srcset="<%= imgpath %>/assets/images/uptorigin/img_cosme-product02.webp" type="image/webp">
          <img src="<%= imgpath %>/assets/images/uptorigin/img_cosme-product02.jpg" alt="" width="400"
            height="400">
        </picture>
        <div class="lineup__list--badge"></div>
        <span class="lineup__list--badge-new">NEW</span>
      </div>
      <p class="lineup__list--name">PERFECT BASE PALETTE</p>
      <p class="lineup__list--namejp">パーフェクトベースパレット</p>
    </a>
  </li>
  <li>
    <a href="/shop/products/4595121188363">
      <div class="lineup__list--img">
        <picture>
          <source srcset="<%= imgpath %>/assets/images/uptorigin/img_cosme-product03.webp" type="image/webp">
          <img src="<%= imgpath %>/assets/images/uptorigin/img_cosme-product03.jpg" alt="" width="400"
            height="400">
        </picture>
        <div class="lineup__list--badge"></div>
        <span class="lineup__list--badge-new">NEW</span>


      </div>
      <p class="lineup__list--name">EYE COLOR PALETTE</p>
      <p class="lineup__list--namejp">アイカラーパレット</p>
      <div class="lineup__list--color">
        <img src="<%= imgpath %>/assets/images/uptorigin/color_cosme-eye.png" alt="" width="151" height="27">
      </div>
    </a>
  </li>
  <li>
    <a href="/shop/products/4595121188424">
      <div class="lineup__list--img">
        <picture>
          <source srcset="<%= imgpath %>/assets/images/uptorigin/img_cosme-product04.webp" type="image/webp">
          <img src="<%= imgpath %>/assets/images/uptorigin/img_cosme-product04.jpg" alt="" width="400"
            height="400">
        </picture>
        <div class="lineup__list--badge"></div>
        <span class="lineup__list--badge-new">NEW</span>


      </div>
      <p class="lineup__list--name">WATERY SHEER LIP</p>
      <p class="lineup__list--namejp">ウォータリーシアーリップ</p>
      <div class="lineup__list--color">
        <img src="<%= imgpath %>/assets/images/uptorigin/color_cosme-rip.png" alt="" width="151" height="27">
      </div>
    </a>
  </li>
</ul>