<section id="js-prodcutFv" class="uptprodcut__intro">
    <h2 class="uptprodcut__intro--txt">明日にそなえた心地いいリセットを</h2>
    <div class="uptprodcut__intro--relative">
        <div class="uptprodcut__intro--relative-img">
            <div class="pc">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/img_product-csetpc.webp" type="image/webp">
                    <img src="<%= imgpath %>/assets/images/uptorigin/img_product-csetpc.jpg" alt="安達祐実" width="1864"
                        height="874" class="">
                </picture>
            </div>
            <div class="sp">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/img_product-csetsp.webp" type="image/webp">
                    <img src="<%= imgpath %>/assets/images/uptorigin/img_product-csetsp.jpg" alt="安達祐実" width="885"
                        height="1311" class="">
                </picture>
            </div>
        </div>



        <div class="uptprodcut__intro--border" id="js-border"></div>
    </div>

</section>
<section class="uptline"></section>

<section class="uptproduct__setitem">
    <h2 class="uptblc__ttl">SET ITEM</h2>

    <div class="uptproduct__setitem--blc">
        <div class="uptproduct__setitem--blc-s border img">
            <div class="uptproduct__setitem--img">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/point_cleansingset01.webp" type="image/webp">
                    <img src="<%= imgpath %>/assets/images/uptorigin/point_cleansingset01.jpg" alt="CLEANSING BALM"
                        width="1659" height="1563" class="">
                </picture>
            </div>
        </div>
        <div class="uptproduct__setitem--blc-s">
            <div class="uptproduct__setitem--exp">
                <div class="uptproduct__setitem--name">
                    <div class="uptproduct__setitem--name-txt">
                        <h3 class="uptproduct__setitem--name01">CLEANSING BALM</h3>
                        <p class="uptproduct__setitem--name02">クレンジングバーム<br>〈クレンジング〉</p>
                        <p class="uptproduct__setitem--name03 italic">100g</p>
                    </div>
                    <div class="uptproduct__setitem--name-img">
                        <img src="<%= imgpath %>/assets/images/uptorigin/point_icon_cleansingset01.svg"
                            alt="CLEANSING BALM" width="56" height="56" class="">
                    </div>
                </div>

                <div class="uptproduct__setitem--setsumei">
                    <p class="uptproduct__setitem--setsumei--ttl">体温でとろけるバームタイプのクレンジング料。<br>
                        メイクや皮脂をしっかりと浮かせて、<br>
                        磨き上げたようななめらかなお肌に。</p>
                </div>

                <!-- クレンジングバーム -->
                <div class="uptproduct__setitem--absolute">
                    <ul class="uptproduct__setitem--list" id="js-accordion01">
                        <li>
                            <p class="uptproduct__setitem--list-ttl">使用感<span></span></p>
                            <div class="uptproduct__setitem--list-txt">
                                <p>メイクや皮脂をしっかりと浮かせて、磨き上げたようななめらかなお肌に。<br>
                                    なじませるとオイルに変化し摩擦を抑えながらつるんと落とします。</p>
                            </div>
                        </li>
                        <li>
                            <p class="uptproduct__setitem--list-ttl">成分<span></span></p>
                            <div class="uptproduct__setitem--list-txt">
                                <p>パルミチン酸エチルヘキシル、オクチルドデカノール、トリイソステアリン酸PEGー２０グリセリル、合成ワックス、マカデミア種子油、水添ヒマシ油、ラウロイルグルタミン酸ジ（フィトステリル／オクチルドデシル）、ホホバ種子油、フェノキシエタノール、トコフェロール
                                </p>
                            </div>
                        </li>
                        <li>
                            <p class="uptproduct__setitem--list-ttl">使い方<span></span></p>
                            <div class="uptproduct__setitem--list-txt">
                                <p>手とお顔が乾いた状態で約2cmを目安に取り、手のひらでなじませる。<br>お顔の中心から外、下から上に優しくマッサージするようにメイクとなじませ、水またはぬるま湯でよく洗い流す。
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="uptproduct__setitem--blc reverse">
        <div class="uptproduct__setitem--blc-s img blc02">
            <div class="uptproduct__setitem--img">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/point_cleansingset02.webp" type="image/webp">
                    <img src="<%= imgpath %>/assets/images/uptorigin/point_cleansingset02.jpg" alt="CREAMY WHIP WASH"
                        width="1659" height="1563" class="">
                </picture>
            </div>
        </div>
        <div class="uptproduct__setitem--blc-s border borderSpnone">
            <div class="uptproduct__setitem--exp">
                <div class="uptproduct__setitem--name">
                    <div class="uptproduct__setitem--name-txt">
                        <h3 class="uptproduct__setitem--name01">CREAMY WHIP WASH</h3>
                        <p class="uptproduct__setitem--name02">クリーミーホイップウォッシュ<br>〈洗顔料〉</p>
                        <p class="uptproduct__setitem--name03 italic">200mL</p>
                    </div>
                    <div class="uptproduct__setitem--name-img">
                        <img src="<%= imgpath %>/assets/images/uptorigin/point_icon_cleansingset02.svg"
                            alt="CREAMY WHIP WASH" width="56" height="56" class="">
                    </div>
                </div>

                <div class="uptproduct__setitem--setsumei">
                    <p class="uptproduct__setitem--setsumei--ttl">泡立て不要な手軽に使えるフォームタイプの洗顔料。</p>
                    <p>不要な汚れや皮脂をすっきりとオフし、<br>
                        クリアで明るい素肌に。</p>
                </div>

                <!-- クリーミーホイップウォッシュ -->
                <div class="uptproduct__setitem--absolute">
                    <ul class="uptproduct__setitem--list" id="js-accordion02">
                        <li>
                            <p class="uptproduct__setitem--list-ttl">使用感<span></span></p>
                            <div class="uptproduct__setitem--list-txt">
                                <p>不要な汚れや皮脂をすっきりとオフし、クリアで明るい素肌に。<br>
                                    きめ細やかでクリーミー、生クリームのような弾力のある泡で摩擦レスにうるおいを与えながらやさしく洗いあげます。</p>
                            </div>
                        </li>
                        <li>
                            <p class="uptproduct__setitem--list-ttl">成分<span></span></p>
                            <div class="uptproduct__setitem--list-txt">
                                <p>水、グリコシルトレハロース、ＰＥＧ－１５０、ラウロイルアスパラギン酸Ｎａ、加水分解水添デンプン、ココイルグルタミン酸ＴＥＡ、ラウリン酸ポリグリセリル－１０、コカミドプロピルベタイン、ＢＧ、ペンチレングリコール、コメ発酵液、トウミツ、酒粕エキス、パイナップル果実エキス、ユズ果実エキス、ペンテト酸５Ｎａ、１，２－ヘキサンジオール、カプリリルグリコール、フェノキシエタノール
                                </p>
                            </div>
                        </li>
                        <li>
                            <p class="uptproduct__setitem--list-ttl">使い方<span></span></p>
                            <div class="uptproduct__setitem--list-txt">
                                <p>2〜3プッシュを手に取り、 お肌を強く擦らないようにくるくると円を描きながらやさしく洗った後、水またはぬるま湯でよく洗い流す。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="uptline"></section>


<section class="cleansing__point">
    <h2 class="uptblc__ttl">POINT</h2>
    <div class="cleansing__point--blcwrp">
        <div class="cleansing__point--blc">
            <div class="cleansing__point--blc-img">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/img_cleansing-points01.webp"
                        type="image/webp">
                    <img src="<%= imgpath %>/assets/images/uptorigin/img_cleansing-points01.jpg" alt="安達祐実" width="1653"
                        height="1389" class="">
                </picture>
            </div>
        </div>
        <div class="cleansing__point--blc rborder-none">
            <div class="cleansing__point--blc-txt">
                <h3>CLEANSING BALM</h3>
                <h4>point - 1</h4>
                <p class="cleansing__point--txt">濡れた手でもスムーズに使えるワンタッチ式キャップのチューブを採用。手軽で衛生的なバームタイプのクレンジングを実現しました。</p>

                <h4>point - 2</h4>
                <p class="cleansing__point--txt">体温によってお肌の上でじゅわっととろけるバームタイプ。メイクや毛穴に詰まった角栓汚れにも素早くなじみ摩擦をかけずに簡単メイクオフ。</p>

                <h4>point - 3</h4>
                <p class="cleansing__point--txt">エモリエントオイルをたっぷり配合した、なめらかな使い心地で洗い上がりもつっぱらずしっとり仕上げます。</p>

            </div>
        </div>
    </div>
    <div class="cleansing__point--blcwrp topline reverse">
        <div class="cleansing__point--blc rborder-none">
            <div class="cleansing__point--blc-img">
                <img src="<%= imgpath %>/assets/images/uptorigin/img_cleansing-points03.jpg" alt="安達祐実" width="1653"
                height="1389" class="">
            </div>

        </div>
        <div class="cleansing__point--blc">
            <div class="cleansing__point--blc-txt">
                <h3>CREAMY WHIP WASH</h3>
                <h4>point - 1</h4>
                <p class="cleansing__point--txt">摩擦による肌ストレスを抑えるもっちりとしたきめ細やかな贅沢泡がワンプッシュで出てくるこだわりのポンプタイプ。</p>

                <h4>point - 2</h4>
                <p class="cleansing__point--txt">お肌に必要なうるおいは残しつつ余分な皮脂や汚れをしっかり洗い流すアミノ酸系洗顔料で、やさしい使い心地を実現しました。</p>

                <h4>point - 3</h4>
                <p class="cleansing__point--txt">うるおいを保つ2種のセラミド<span>※1</span>、肌を整える3種の発酵成分<span>※2</span> を配合しお肌をすこやかに保ちます。</p>
                <p class="cleansing__point--note">※1 ユズ果実エキス、パイナップル果実エキス　※2 コメ発酵液、トウミツ、酒粕エキス</p>

            </div>
        </div>

    </div>
</section>
<section class="uptline"></section>

<script  src="<%= imgpath %>/assets/uptproduct.js"></script>