 <section class="uptproduct__fv" id="handcream">
     <!-- ここから -->
     <div class="uptblc__buyblc">
         <div class="uptblc__buyblc--img">
             <div class="uptblc__buyblc--swiper" id="js-cleansingSwiper">
                 <div class="cleansingSwiper01">
                     <div class="swiper mySwiper2">
                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <div class="pc">
                                     <picture>
                                        <source srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream.webp"
                                            type="image/webp">
                                        <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream.png"
                                            alt="CLEANSING SET" width="1572" height="1536">
                                    </picture>
                                 </div>
                                 <div class="sp">
                                     <picture>
                                        <source srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream-sp.webp"
                                            type="image/webp">
                                        <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream-sp.png"
                                            alt="CLEANSING SET" width="1035" height="1290">
                                    </picture>
                                 </div>
                             </div>

                             <div class="swiper-slide">
                                 <div class="pc">
                                     <picture>
                                         <source
                                             srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream02.webp"
                                             type="image/webp">
                                         <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream02.jpg"
                                             alt="CLEANSING SET" width="1653" height="1572">
                                     </picture>
                                 </div>
                                 <div class="sp">
                                     <picture>
                                         <source
                                             srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream02-sp.webp"
                                             type="image/webp">
                                         <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream02-sp.jpg"
                                             alt="CLEANSING SET" width="1035" height="1290">
                                     </picture>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="pc">
                                     <picture>
                                         <source srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream03.webp"
                                             type="image/webp">
                                         <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream03.jpg"
                                             alt="CLEANSING SET" width="1653" height="1572">
                                     </picture>
                                 </div>
                                 <div class="sp">
                                     <picture>
                                         <source
                                             srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream03-sp.webp"
                                             type="image/webp">
                                         <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_handcream03-sp.jpg"
                                             alt="CLEANSING SET" width="1035" height="1290">
                                     </picture>
                                 </div>
                             </div>
                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                     </div>
                 </div>

                 <div class="cleansingSwiper">
                     <div thumbsSlider="" class="swiper mySwiper"
                         style="--swiper-navigation-color: #32667A; --swiper-pagination-color: #fff">

                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-handcream1sm.webp"
                                         type="image/webp">
                                     <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-handcream1sm.png"
                                         alt="CLEANSING SET" width="460" height="356">
                                 </picture>
                             </div>

                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-handcream3sm.webp"
                                         type="image/webp">
                                     <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-handcream3sm.jpg"
                                         alt="CLEANSING SET" width="460" height="356">
                                 </picture>
                             </div>
                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="<%= imgpath %>/assets/images/uptorigin/img_swiper-handcream2sm.webp"
                                         type="image/webp">
                                     <img src="<%= imgpath %>/assets/images/uptorigin/img_swiper-handcream2sm.jpg"
                                         alt="CLEANSING SET" width="460" height="356">
                                 </picture>
                             </div>
                         </div>


                     </div>
                 </div>
             </div>

         </div>

         <div class="uptblc__buyblc__spborder"></div>

         <div class="uptblc__buyblc--s">
             <div class="uptblc__buyblc--rblc">
                 <div class="uptblc__buyblc--contents">
                     <div class="uptproducts__position">
                         <h2 class="upt__name uptblc__buyblc--txt00">HAND CREAM</h2>
                         <div class="uptproducts__position--icon handcream">ハンドクリームのアイコン</div>
                         <h3 class="uptblc__buyblc--txt01">ウプト ハンドクリーム<br>
                            イランイラン×ゼラニウムの香り<br><span
                                 style="font-style: italic">20g</span></h3>
                         <p class="uptblc__buyblc--txt02">「スキンケアと同じ香りのハンドクリームが欲しい」という多数のご要望から実現。<br>
                            しっとりうるおいを残しながらベタつかないUptのスキンケアシリーズの使い心地で、イランイランとゼラニウムの香りがふわっと香ります。癒されるハンドケア時間を。</p>

                         <p class="upt__price uptblc__buyblc--txt03">¥1,100 (tax in)</p>

                         <div class="uptblc__buyblc--btn">
                             <!-- 商品選択フォーム -->
                             <form action="/shop/cart/add" method="post">
                                 <div style="display: none">
                                     <!-- 規格選択 -->
                                     <input id="variant-id" type="hidden" name="variant_id"
                                         value="{{ product.master.id }}">
                                     <div id="option_types"></div>

                                     <!-- 数量選択 -->
                                     <label>数量</label>
                                     <input id="text-out-of-stock" value="在庫切れ" disabled style="display:none;">
                                     <select id="quantity" name="quantity" style="display:none;"></select>

                                     <!-- 再入荷お知らせ -->
                                     <a id="btn-stock-waiting-list" href="javascript:void(0);"
                                         style='display:none;'>再入荷お知らせ</a>
                                 </div>
                                 <!-- /display: none -->

                                 <!-- カート追加 -->
                                 <button id="btn-add">
                                     <p class="txt">購入はこちら</p><span></span>
                                 </button>

                             </form>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- ここまで -->
 </section>

 <section class="cleandingblc">
    <div class="cleandingblc__dright">
        <div class="pc">
            <picture>
                <source srcset="<%= imgpath %>/assets/images/uptorigin/img_prodcut-handcream.webp"
                    type="image/webp">
                <img src="<%= imgpath %>/assets/images/uptorigin/img_prodcut-handcream.jpg"
                    alt="HAND CREAM" width="1653" height="1052">
            </picture>
        </div>
        <div class="sp">
            <picture>
                <source srcset="<%= imgpath %>/assets/images/uptorigin/img_prodcut-handcream-sp.webp"
                    type="image/webp">
                <img src="<%= imgpath %>/assets/images/uptorigin/img_prodcut-handcream-sp.jpg"
                    alt="HAND CREAM" width="1035" height="1089">
            </picture>
        </div>
    </div>
    <div class="cleandingblc__dleft">
        <div class="cleandingblc__setitem--top">
            <p class="cleandingblc__setitem--toptxt">適量を手にとり、手全体になじませてください。</p>
        </div>
        <div class="cleandingblc__setitem--absolute">
            <ul class="cleandingblc__setitem--list" id="js-accordion-wash">
                <li class="ptproduct__exbtm--no handimage">
                    <p class="cleandingblc__setitem--list-ttl">5つのフリー処方<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <div class="uptproduct__exbtm--noimg">
                            <picture>
                                <source srcset="<%= imgpath %>/assets/images/uptorigin/img_freehand-pc.webp"
                                    type="image/webp">
                                <img src="<%= imgpath %>/assets/images/uptorigin/img_freehand-pc.png"
                                    alt="5つのフリー処方" width="1083" height="696">
                            </picture>    
                        </div>
                    </div>
                </li>
                <li>
                    <p class="cleandingblc__setitem--list-ttl">成分<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <p>温泉水、ミネラルオイル、スクワラン、ＢＧ、ベヘニルアルコール、ジメチコン、セテアリルアルコール、ＰＥＧ－１５０、マルチトール、ペンチレングリコール、ステアリン酸グリセリル、ステアロイルグルタミン酸Ｎａ、エチルヘキシルグリセリン、カプリル酸グリセリル、ツボクサ葉／茎エキス、アセチルデカペプチド－３、オリゴペプチド－２０、ダマスクバラ花水、マカデミアナッツ脂肪酸フィトステリル、ホホバ種子油、フィトステロールズ、セラミドＮＧ、セラミドＡＰ、セラミドＡＧ、セラミドＮＰ、セラミドＥＯＰ、ヒマワリ種子油、水、水添レシチン、ＥＤＴＡ－２Ｎａ、フェノキシエタノール、イランイラン花油、ニオイテンジクアオイ油</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
 </section>




 <section class="cleansing__point">
     <h2 class="uptblc__ttl">POINT</h2>
     <div class="cleansing__point--blcwrp">
         <div class="cleansing__point--blc leftblcPc">
             <div class="cleansing__point--blc-img">
                 <div class="pc">
                     <img src="<%= imgpath %>/assets/images/uptorigin/img_prodcut-hand-pointpc.jpg" alt="安達祐実"
                         width="1653" height="1284" class="">
                 </div>
                 <div class="sp">
                     <img src="<%= imgpath %>/assets/images/uptorigin/img_hand-pointsp.jpg" alt="安達祐実"
                         width="1653" height="1389" class="">
                 </div>

             </div>
         </div>
         <div class="cleansing__point--blc rborder-none rightblcPc">
             <div class="cleansing__point--blc-txt">
                 <!-- <h3>CREAMY WHIP WASH</h3> -->
                 <h4>point - 1</h4>
                 <p class="cleansing__point--txt">手を洗ったあとや寝る前に手指がしっとりうるおい、ベタつかない心地よい質感に仕上げました。マカデミアナッツオイル<span>※1</span> / ホホバ種子油 / ヒマワリ種子油を配合し、体温でなめらかに伸びます。</p>
                 <p class="cleansing__point--note">※1 マカデミアナッツ脂肪酸フィトステリル</p>

                 <h4>point - 2</h4>
                 <p class="cleansing__point--txt">CICA<span>※1</span> / ローズウォーター<span>※2</span> / 2種のペプチド<span>※3</span> / 5種のナノセラミド<span>※4</span> の4つを保湿成分としてバランス良く配合し、水の代わりに可能な限り温泉水を使用することでうるおいを与え、日々の生活で荒れがちな手元を優しくすこやかに保ちます。</p>
                 <p class="cleansing__point--note">※1 ツボクサ葉/茎エキス ※2 ダマスクバラ花水 ※3 アセチルデカペプチド－３、オリゴペプチド－２０ ※4 セラミドＮＧ、セラミドＡＰ、セラミドＡＧ、セラミドＮＰ、セラミドＥＯＰ</p>

                 <h4>point - 3</h4>
                 <p class="cleansing__point--txt">Uptのスキンケアシリーズと同じ、ゼラニウム<span>※1</span> &イランイラン<span>※2</span> の天然精油を配合しました。つけた瞬間心地よい香りがふわっと香るよう、香りの強さにもこだわりました</p>
                 <p class="cleansing__point--note">※1 ニオイテンジクアオイ油　※2 イランイラン花油</p>
             </div>
         </div>
     </div>


 </section>

 <script src="<%= imgpath %>/assets/cleansing.js"></script>