
<section class="uptproduct__fv" id="mask">
     <!-- ここから -->
     <div class="uptblc__buyblc">
         <div class="uptblc__buyblc--img">
             <div class="uptblc__buyblc--swiper" id="js-cleansingSwiper">
                 <div class="cleansingSwiper01">
                     <div class="swiper mySwiper2">
                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <div class="pc">
                                  <picture>
                                    <source srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_mask01.webp"
                                        type="image/webp">
                                    <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_mask01.jpg"
                                        alt="CELMING SERUM MASK" width="2205" height="2524">
                                </picture>
                                 </div>
                                 <div class="sp">
                                     <picture>
                                        <source srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_mask01-sp.webp"
                                            type="image/webp">
                                        <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_mask01-sp.jpg"
                                            alt="CELMING SERUM MASK" width="1381" height="1604">
                                    </picture>
                                 </div>
                             </div>

                             <div class="swiper-slide">
                                 <div class="pc">
                                     <picture>
                                         <source
                                             srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_mask02b.webp"
                                             type="image/webp">
                                         <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_mask02b.jpg"
                                         alt="CELMING SERUM MASK" width="2192" height="2508">
                                        </picture>
                                 </div>
                                 <div class="sp">
                                  <picture>
                                    <source srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_mask02b-sp.webp"
                                        type="image/webp">
                                    <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_mask02b-sp.jpg"
                                        alt="CELMING SERUM MASK" width="1381" height="1604">
                                </picture>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="pc">
                                     <picture>
                                         <source srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_mask03.webp"
                                             type="image/webp">
                                         <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_mask03.jpg"
                                             alt="CELMING SERUM MASK" width="2205" height="2524">
                                     </picture>
                                 </div>
                                 <div class="sp">
                                  <picture>
                                    <source srcset="<%= imgpath %>/assets/images/uptorigin/fvimg_mask03-sp.webp"
                                        type="image/webp">
                                    <img src="<%= imgpath %>/assets/images/uptorigin/fvimg_mask03-sp.jpg"
                                        alt="CELMING SERUM MASK" width="1381" height="1604">
                                </picture>
                                 </div>
                             </div>
                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                     </div>
                 </div>

                 <div class="cleansingSwiper">
                     <div thumbsSlider="" class="swiper mySwiper"
                         style="--swiper-navigation-color: #32667A; --swiper-pagination-color: #fff">

                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="<%= imgpath %>/assets/images/uptorigin/img_smallmask01.webp"
                                         type="image/webp">
                                     <img src="<%= imgpath %>/assets/images/uptorigin/img_smallmask01.jpg"
                                         alt="CALMIN SERUM MASK" width="460" height="356">
                                 </picture>
                             </div>

                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="<%= imgpath %>/assets/images/uptorigin/img_smallmask02.webp"
                                         type="image/webp">
                                     <img src="<%= imgpath %>/assets/images/uptorigin/img_smallmask02.jpg"
                                         alt="CALMIN SERUM MASK" width="460" height="356">
                                 </picture>
                             </div>
                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="<%= imgpath %>/assets/images/uptorigin/img_smallmask03.webp"
                                         type="image/webp">
                                     <img src="<%= imgpath %>/assets/images/uptorigin/img_smallmask03.jpg"
                                         alt="CALMIN SERUM MASK" width="460" height="356">
                                 </picture>
                             </div>
                         </div>


                     </div>
                 </div>
             </div>

         </div>

         <div class="uptblc__buyblc__spborder"></div>

         <div class="uptblc__buyblc--s">
             <div class="uptblc__buyblc--rblc"> 
                 <div class="uptblc__buyblc--contents">
                     <div class="uptproducts__position">

                        <div class="uptblc__buyblc--singleblc">
                            <h1 class="headingttl">Upt CALMING SERUM MASK ウプト カーミングセラムマスク</h1>

                         <h2 class="upt__name uptblc__buyblc--single-ttl">CALMING<br>SERUM MASK</h2>
                         <img src="<%= imgpath %>/assets/images/uptorigin/icon_mask.png"
                         alt="マスク" width="auto" height="auto">
                        </div>

                         <h3 class="uptblc__buyblc--txt01">ウプト カーミングセラムマスク<br>〈シートマスク〉<br>
                          4枚入り<span style="font-style: italic">（1枚あたり美容液25mL）</span></h3>


                          <h4 class="uptblc__buyblc--subttl">気になる肌荒れや毛穴<sup>※1</sup>に<br>
                            集中うるおいチャージ美容液マスク</h4>
                         <p class="uptblc__buyblc--txt02">たっぷりの美容液で手早くうるおいをチャージし、肌トラブルを防いで<sup>※2</sup>みずみずしく透明感<sup>※3</sup>のあるお肌に。密着性に優れた柔らかいシートがお肌にフィットし、 CICA<sup>※4</sup>、浸透型<sup>※5</sup>ビタミンC誘導体<sup>※6</sup>、ナイアシンアミド<sup>※7</sup>、3種のセラミド<sup>※8</sup>など、美容液成分を届けます。</p>

                         <p class="upt__price uptblc__buyblc--txt03">¥1,540 (tax in)</p>
                         <!-- <p class="upt__price uptblc__buyblc--txt03 dashed">¥1,540 (tax in)</p>
                         <p class="upt__price uptblc__buyblc--txt03 sale"><span class="upt__price--feature">10%OFF</span>¥1,386 (tax in)</p> -->

                         <div class="uptblc__buyblc--btn">
                             <!-- 商品選択フォーム -->
                             <form action="/shop/cart/add" method="post">
                                 <div style="display: none">
                                     <!-- 規格選択 -->
                                     <input id="variant-id" type="hidden" name="variant_id"
                                         value="{{ product.master.id }}">
                                     <div id="option_types"></div>

                                     <!-- 数量選択 -->
                                     <label>数量</label>
                                     <input id="text-out-of-stock" value="在庫切れ" disabled style="display:none;">
                                     <select id="quantity" name="quantity" style="display:none;"></select>

                                     <!-- 再入荷お知らせ -->
                                     <a id="btn-stock-waiting-list" href="javascript:void(0);"
                                         style='display:none;'>再入荷お知らせ</a>
                                 </div>
                                 <!-- /display: none -->

                                 <!-- カート追加 -->
                                 <button id="btn-add">
                                     <p class="txt">購入はこちら</p><span></span>
                                 </button>

                             </form>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- ここまで -->
 </section>

 <section class="cleandingblc" id="mask02">
    <div class="cleandingblc__dright">
        <div class="pc">
            <picture>
                <source srcset="<%= imgpath %>/assets/images/uptorigin/img_prodcut-mask.webp"
                    type="image/webp">
                <img src="<%= imgpath %>/assets/images/uptorigin/img_prodcut-mask .jpg"
                    alt="HAND CREAM" width="2204" height="1402">
            </picture>
        </div>
        <div class="sp">
            <picture>
                <source srcset="<%= imgpath %>/assets/images/uptorigin/img_prodcut-masksp.webp"
                    type="image/webp">
                <img src="<%= imgpath %>/assets/images/uptorigin/img_prodcut-masksp.jpg"
                    alt="HAND CREAM" width="1380" height="1452">
            </picture>
        </div>
    </div>
    <div class="cleandingblc__dleft">
        <div class="cleandingblc__setitem--top mask">
            <div class="cleandingblc__setitem--toptxt">洗顔後の清潔なお肌にご使用ください。
                <ol class="productblc__ti">
                    <li>① 袋から取り出したマスクを広げ、目と口の位置を合わせてフィットさせます。</li>
                    <li>② そのまま10〜15分おいてから、ゆっくりはがします。はがす前に手でゆっくりパッティングしていただくとより効果的です。</li>
                    <li>③ はがした後は、お肌に残った液を手のひらでなじませてください。</li>
                </ol>
            </div>
        </div>
        <div class="cleandingblc__setitem--absolute">
            <ul class="cleandingblc__setitem--list" id="js-accordion-wash">
                <li class="ptproduct__exbtm--no handimage">
                    <p class="cleandingblc__setitem--list-ttl">6つのフリー処方<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <div class="uptproduct__exbtm--noimg">


                            <picture>
                                    <source srcset="<%= imgpath %>/assets/images/uptorigin/mask_free.webp"
                                        type="image/webp">
                                    <img src="<%= imgpath %>/assets/images/uptorigin/mask_free.png"
                                        alt="6つのフリー処方" width="643" height="464">
                                </picture>   

                        </div>
                    </div>
                </li>
                <li>
                    <p class="cleandingblc__setitem--list-ttl">成分<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <p>水、グリセリン、DPG、イソペンチルジオール、ペンチレングリコール、ジグリセリン、エチルヘキシルグリセリン、温泉水、BG、PEG-60水添ヒマシ油、ベタイン、アラントイン、ツボクサ葉/茎エキス、グリチルリチン酸2K、ナイアシンアミド、パルミチン酸アスコルビルリン酸3Na、セラミドNP、セラミドNG、セラミドAP、水添レシチン、フィトステロールズ、ヒアルロン酸Na、アセチルヒアルロン酸Na、加水分解ヒアルロン酸、水溶性プロテオグリカン、フラーレン、キサンタンガム、PVP、クエン酸、クエン酸Na、EDTA-2Na、フェノキシエタノール</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
 </section>




 <section class="cleansing__point" id="mask03">
     <h2 class="uptblc__ttl">POINT</h2>
     <div class="cleansing__point--blcwrp">
         <div class="cleansing__point--blc leftblcPc">
             <div class="cleansing__point--blc-img">
                 <div class="pc">
                    <picture>
                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_prodcut-maskpc.webp"
                            type="image/webp">
                            <img src="<%= imgpath %>/assets/images/uptorigin/img_prodcut-maskpc.jpg" alt="安達祐実"
                            width="2204" height="2688" class="">
                    </picture>   
                    
                 </div>
                 <div class="sp">
                    <picture>
                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_producer-masksp.webp"
                            type="image/webp">
                            <img src="<%= imgpath %>/assets/images/uptorigin/img_producer-masksp.jpg" alt="安達祐実"
                         width="1380" height="1200" class="">
                    </picture>   
                     
                 </div>

             </div>
         </div>
         <div class="cleansing__point--blc rborder-none rightblcPc">
             <div class="cleansing__point--blc-txt">
                 <!-- <h3>CREAMY WHIP WASH</h3> -->
                 <h4>point - 1</h4>
                 <p class="cleansing__point--txt">シート1枚に対して25mLと、たっぷりの美容液をお肌にチャージ。忙しい毎日の中でも、肌トラブルを防ぎながら透明感<sup>※3</sup>のあるお肌に導くための美容液成分を配合しました。</p>
                 <p class="cleansing__point--txt"><span>●</span>肌荒れを防ぐ<sup>※2</sup><br>
                  肌荒れを防ぎ、健やかなお肌へ整えます。<br>
                  CICA<sup>※4</sup> / グリチルリチン酸2K / アラントイン（すべて整肌成分）</p>
                  <p class="cleansing__point--txt"><span>●</span>肌のキメを整える<br>
                    気になるくすみ ※9をケアし、透明感<sup>※3</sup>のある素肌へ仕上げます。浸透型<sup>※5</sup>ビタミンC誘導体<sup>※6</sup>(整肌成分) / ナイアシンアミド(保湿成分) / フラーレン(保湿成分)</p>
                    <p class="cleansing__point--txt"><span>●</span>うるおいを与える<br>
                  うるおいで満たしキメの整ったお肌へ導きます。<br>
                  3種のセラミド<sup>※8</sup> / 3種のヒアルロン酸<sup>※10</sup> / 温泉水 / 水溶性プロテオグリカン(すべて保湿成分)</p>

                 <h4 class="mt40">point - 2</h4>
                 <p class="cleansing__point--txt">保水性や密着性に優れた柔らかいシートがお肌にフィットしセラムの浸透<sup>※5</sup>をサポートします。</p>
                 <p class="cleansing__point--note mt40">※1 乾燥によって開いた毛穴をお肌にうるおいを与えて目立たなくすること　※2 乾燥による肌荒れを防ぐこと　※3 保湿による　※4 ツボクサ葉/茎エキス(整肌成分)　※5 角質層まで　※6 パルミチン酸アスコルビルリン酸3Na(整肌成分)　※7 保湿成分　※8 セラミドNP、セラミドNG、セラミドAP(すべて保湿成分)　※9 乾燥によりお肌が暗く見えること　※10 ヒアルロン酸Na、アセチルヒアルロン酸Na、加水分解ヒアルロン酸</p>
             </div>
         </div>
     </div>


 </section>

 <%- include('./_uruou', { meta: imgpath }); %>


 <script src="<%= imgpath %>/assets/cleansing.js"></script>