<%
// 以下の設定値を記入のこと

var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  path: '',
  ogimage : '' ,
  path : '' ,   
  ecforce : 'false',
  category : ['main'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['setPhotoChanger ();','startScroll ();','setVideo();']
};
%>
<%
var imgpath = 'https://d2w53g1q050m78.cloudfront.net/uptofficialjp/uploads/themes/theme_subscription0110_20230106154548/ec_force';
// var imgpath = '';

%>





<div class="uptnews">

    <div class="uptnews__contents">
        <div class="uptnews__gazo">
            <img src="<%= imgpath %>/assets/images/uptorigin/IMG_4206.jpg" alt="画像１" width="auto" height="auto" class="">
        </div>
        <div>
            <h2 class="uptnews__ttl">otonaMUSE 10月号</h2>

            <div class="uptnews__contents--nameblc"><p><span class="uptnews__contents--name">企画名</span></p> <p class="uptnews__contents--txt">安達祐実と秋服と秋メイク安達祐実と秋服と秋メイク安達祐実と秋服と秋メイク安達祐実と秋服と秋メイク</p></div>

           <a href="/shop/products/upt_skincareset" class="uptnews__link--blc">
            

            <div class="uptnews__link">
                <div class="uptnews__link--img">
                    <picture>
                        <source srcset="<%= imgpath %>/assets/images/uptorigin/news_setimg.webp" type="image/webp">
                        <img src="<%= imgpath %>/assets/images/uptorigin/news_setimg.jpg" alt="set" width="1200px" height="1200px" class="uptnews__img">
                    </picture>
                </div>
                <div>
                    <div class="uptnews__contents--nameblc2"><p class="uptnews__contents--name">掲載商品</p></div>
                    <p class="uptnews__contents--txt">Upt SKINCARE SET<br><span>ウプト スキンケアセット</span></p>
                </div>
            </div>
        </a>
        </div>



    </div>


</div>


<div class="uptnews">

    <div class="uptnews__contents">
        <div class="uptnews__gazo">
            <img src="<%= imgpath %>/assets/images/uptorigin/IMG_4206.jpg" alt="画像１" width="auto" height="auto" class="">
        </div>
        <div>
            <h2 class="uptnews__ttl">otonaMUSE 10月号</h2>

            <div class="uptnews__contents--nameblc"><p><span class="uptnews__contents--name">企画名</span></p> <p class="uptnews__contents--txt">安達祐実と秋服と秋メイク安達祐実と秋服と秋メイク安達祐実と秋服と秋メイク安達祐実と秋服と秋メイク</p></div>

           <p class="uptnews__contents--subtxt">テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
           <a href="/shop/products/upt_skincareset" class="uptnews__link--blc">
            

            <div class="uptnews__link">
                <div class="uptnews__link--img">
                    <picture>
                        <source srcset="<%= imgpath %>/assets/images/uptorigin/news_setimg.webp" type="image/webp">
                        <img src="<%= imgpath %>/assets/images/uptorigin/news_setimg.jpg" alt="set" width="1200px" height="1200px" class="uptnews__img">
                    </picture>
                </div>
                <div>
                    <div class="uptnews__contents--nameblc2"><p class="uptnews__contents--name">掲載商品</p></div>
                    <p class="uptnews__contents--txt">Upt SKINCARE SET<br><span>ウプト スキンケアセット</span></p>
                </div>
            </div>
        </a>
        </div>



    </div>


</div>
