
<%
var imgpath = '{{ theme_file_root_path }}';
// var imgpath = '';

%>



<ul class="upthome__products--blc maskblc">
    <li>
        <a href="/shop/products/4595121188332">
            <div class="upthome__products--blc-box">
                <div class="pc">
                    <picture>
                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_mask01.webp"
                            type="image/webp">
    
                        <img src="<%= imgpath %>/assets/images/uptorigin/img_mask01.jpg"
                            alt="CALMING SERUM MASK" width="1650" height="1095">
                    </picture>
                </div>
                <div class="sp">
                    <picture>
                        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_mask01-sp.webp"
                            type="image/webp">
    
                        <img src="<%= imgpath %>/assets/images/uptorigin/img_mask01-sp.jpg"
                            alt="CALMING SERUM MASK" width="690" height="690">
                    </picture>
                </div>



                <div class="upthome__products--nameblc">
                    <h3 class="upthome__products--name">CALMING SERUM MASK</h3>
                    <p class="upthome__products--jpname">カーミングセラムマスク<span class="italic">4sheets</span></p>
                </div>
                <p class="upthome__products--feature"></p>
                <p class="upthome__products--featuretxt">New</p>

            </div>
            <p class="upthome__products--linkbtn">
                <span>詳細はこちら</span>
            </p>
        </a>
    </li>
    <li class="mask">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_mask02.jpg"
        alt="CALMING SERUM MASK" width="1653" height="1476">
    </li>

</ul>
