<% 
var pageinit = {
  ecforce : 'true',
};
    // imgpath =  '';   
    imgpath = '{{ theme_file_root_path }}';
%>


<div class="cosme rip" id="rip">

<section class="item">
  <!-- {% comment %} 商品名 {% endcomment %} -->

  <h1 class="item__name" id="item__name">WATERY SHEER LIP</h1>

  <div class="item__swiper">
    <!-- Slider main container -->
    <div class="swiper cosmeSwiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper01.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper01.jpg" alt="" width="" height="">
          </picture>
      
        </div>

        <div class="swiper-slide">
     
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper02.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper02.jpg" alt="" width="" height="">
          </picture>
      
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper03.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper03.jpg" alt="" width="" height="">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper04.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper04.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper05.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper05.jpg" alt="" width="" height="">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper06.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper06.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper07.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper07.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper08.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper08.jpg" alt="" width="" height="">
          </picture>
        </div>
      </div>

    </div>
    
    <div class="thumb__blc">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>


    <!-- Slider main container -->
    <div class="swiper cosmeSwiper__thumb">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb01.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb01.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb02.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb02.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb03.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb03.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb04.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb04.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb05.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb05.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb06.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb06.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb07.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb07.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb08.webp" type="image/webp">
            <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-swiper_thumb08.jpg" alt="" width="" height="">
          </picture>
        </div>

      </div>

    </div>

  </div>


  <div class="item__details">
    <div class="item__details--inner">
      <div class="item__details--lblc">
        <% if (pageinit.ecforce === 'true') { %>
          {% capture name %}
          <p class="item__details--name">{{ product.name }}</p>

          {% endcapture %}
          <% } else { %>
        
            <p class="item__details--name">WATERY SHEER LIP</p>
            <% } %>
  
        <p class="item__details--jpname">ウォータリーシアーリップ</p>
        <p class="item__details--price">¥1,980 <i>(tax in)</i></p>
      </div>
      <div class="item__details--icon">
        <img src="<%= imgpath %>/assets/images/uptorigin/icon_rip.png" alt="" width="" height="">
      </div>
    </div>

    <div class="item__details--inner aic">
      <ul class="item__details--color rip" id="itemDetails">
        <li class="item__details--colorlist active" data-name="01 warm nude" data-masterid="23" onclick="click01();"></li>
        <li class="item__details--colorlist" data-name="02 pale drop" data-masterid="24" onclick="click02();"></li>
        <li class="item__details--colorlist" data-name="03 cold plum" data-masterid="25" onclick="click03();"></li>
      </ul>
      <p class="item__details--kikaku" id="itemsKikaku">01 warm nude</p>
    </div>


  </div>


  <div class="uptblc__buyblc--btn">
    <!-- 商品選択フォーム -->
    <form action="/shop/cart/add" method="post">
        <div style="display: none">
            <!-- 規格選択 -->
            <input id="variant-id" type="hidden" name="variant_id" value="{{ product.master.id }}">
            <div id="option_types"></div>

            <!-- 数量選択 -->
            <label>数量</label>
            <input id="text-out-of-stock" value="在庫切れ" disabled style="display:none;">
            <select id="quantity" name="quantity" style="display:none;"></select>

            <!-- 再入荷お知らせ -->
            <a id="btn-stock-waiting-list" href="javascript:void(0);" style='display:none;'>再入荷お知らせ</a>
        </div>
        <!-- /display: none -->

        <!-- カート追加 -->
        <button id="btn-add">
            <p class="txt">購入はこちら</p><span></span>
        </button>

    </form>

</div>


  <div class="item__intro">
    <picture>
      <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip.webp" type="image/webp">
      <img src="<%= imgpath %>/assets/images/uptorigin/img_rip.jpg" alt="" width="" height="">
    </picture>

    <% if (pageinit.ecforce === 'true') { %>
    <p class="item__intro--name">{{ product.name }}</p>
    <% } else { %>
    <p class="item__intro--name">WATERY SHEER LIP</p>
    <% } %>
    <p class="item__intro--txt">
      みずみずしいツヤと塗りたての色味が<br>長時間持続するリップスティック
    </p>


  </div>
  <ul class="item__variation rip" id="item__variation">
    <li>
      <div class="item__variation--himg">
        <picture>
          <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-hv01.webp" type="image/webp">
          <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-hv01.jpg" alt="" width="" height="">
        </picture>
      </div>

      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-sv01.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-sv01.png" alt="" width="" height="">
      </picture>
      <h2 class="item__variation--name">01 warm nude</h2>
      <h3 class="item__variation--namejp">ウォームヌード</h3>
      <p class="item__variation--txt">肌馴染みの良いオレンジベージュ</p>
    </li>
    <li>
      <div class="item__variation--himg">
        <picture>
          <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-hv02.webp" type="image/webp">
          <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-hv02.jpg" alt="" width="" height="">
        </picture>
      </div>

      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-sv02.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-sv02.png" alt="" width="" height="">
      </picture>
      <h2 class="item__variation--name">02 pale drop</h2>
      <h3 class="item__variation--namejp">ペールドロップ</h3>
      <p class="item__variation--txt">顔色を明るく見せるコーラルピンク</p>
    </li>
    <li>
      <div class="item__variation--himg">
        <picture>
          <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-hv03.webp" type="image/webp">
          <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-hv03.jpg" alt="" width="" height="">
        </picture>
      </div>

      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-sv03.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-sv03.png" alt="" width="" height="">
      </picture>
      <h2 class="item__variation--name">03 cold plum</h2>
      <h3 class="item__variation--namejp">コールドプラム</h3>
      <p class="item__variation--txt">洒落感をプラスするプラムレッド</p>
    </li>
    <p class="item__ripv--ttl">SWATCH</p>
    <div class="item__ripv--img">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-vall.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-vall.png" alt="" width="" height="">
      </picture>
  
    </div>
  </ul>


</section>


<section class="point" id="point">
  <h2 class="content__ttl"><span>POINT</span></h2>
  <div class="point__txtwrap">
    <h3 class="point__subttl">POINT1</h3>
    <p class="point__txt">塗りたての色味とツヤが持続する<br>
      ロングラスティング処方</p>
    <p class="point__small">リップに配合したオイルが唇の水分に反応してジェル膜に変化し、色味をキープしたまま唇の表面に密着します。さらに、徐々にジェル膜から透明なツヤオイルが染み出してくることでツヤ感も持続させます。</p>

  </div>


  <div class="point__img">
    <picture>
      <source srcset="<%= imgpath %>/assets/images/uptorigin/img_rip-point.webp" type="image/webp">
      <img src="<%= imgpath %>/assets/images/uptorigin/img_rip-point.png" alt="" width="" height="">
    </picture>
  </div>
  <div class="point__txtwrap">

    <h3 class="point__subttl">POINT2</h3>
    <p class="point__txt">みずみずしくなめらかな軽い塗り心地</p>
    <p class="point__small">自分の唇の血色感が透けて見えるようなみずみずしく軽い塗り心地です。粘性のあるオイルとすべりの良いオイルをバランスよく配合することでなめらかでスルスル塗れる質感を実現しました。</p>
  </div>
  <div class="point__txtwrap">
    <h3 class="point__subttl">POINT3</h3>
    <p class="point__txt">唇を乾燥から守る美容保湿成分配合</p>
    <p class="point__small">シアバター<inf>※1</inf>、アルガンオイル<inf>※2</inf>など唇を乾燥から守る11種類のエモリエントオイル<inf>※3</inf>を配合しました。（すべて保湿成分）
    </p>
  </div>
  <div class="content__smallblc">
    <p class="point__notice">※1 シア脂油 ※2 アルガニアスピノサ核油 ※3 ジフェニルジメチコン、トリ（カプリル酸／カプリン酸）グリセリル、トリエチルヘキサノイン、ＰＥＧ－１２ジメチコン、トリイソステアリン酸ポリグリセリル－２、ペンタイソステアリン酸ジペンタエリスリチル、ゴマ油、ジフェニルシロキシフェニルトリメチコン、ラウロイルグルタミン酸ジ（フィトステリル／オクチルドデシル）、アルガニアスピノサ核油、シア脂油</p>

  </div>
</section>

<section class="prescription" id="prescription">
  <details class="prescription__blc">
    <summary class="prescription__blc--small">
      <p class="prescription__ttl">5つのフリー処方</p>
      <span class="prescription__arrow--plus"></span>
    </summary>
    <div class="prescription__sblc">
      <div class="prescription__sblc--three">
        <img src="<%= imgpath %>/assets/images/uptorigin/img_seibun-rip.png" alt="" width="" height="">
      </div>
    </div>
  </details>
  <details class="prescription__blc">
    <summary class="prescription__blc--small">
      <p class="prescription__ttl">成分</p>
      <span class="prescription__arrow--plus"></span>
    </summary>
    <div class="prescription__sblc">
      <p class="prescription__sblc--ttl">01 ウォームヌード</p>
      <p class="prescription__sblc--seibun">
        
        ＜成分＞ジフェニルジメチコン、トリ（カプリル酸／カプリン酸）グリセリル、トリエチルヘキサノイン、ＰＥＧ－１２ジメチコン、トリイソステアリン酸ポリグリセリル－２、合成ワックス、ペンタイソステアリン酸ジペンタエリスリチル、ゴマ油、ジフェニルシロキシフェニルトリメチコン、ラウロイルグルタミン酸ジ（フィトステリル／オクチルドデシル）、マイクロクリスタリンワックス、塩基性炭酸Ｍｇ、ジステアルジモニウムヘクトライト、トコフェロール、アルガニアスピノサ核油、シア脂油、シリカ、ヒアルロン酸Ｎａ、パルミチン酸アスコルビル、レシチン、酸化鉄、酸化チタン、黄４、赤２０１、赤２０２、硫酸Ｂａ、水酸化Ａｌ
      </p>

      <p class="prescription__sblc--ttl mt20">02 ペールドロップ</p>
      <p class="prescription__sblc--seibun">
        ＜成分＞ジフェニルジメチコン、トリ（カプリル酸／カプリン酸）グリセリル、トリエチルヘキサノイン、ＰＥＧ－１２ジメチコン、トリイソステアリン酸ポリグリセリル－２、合成ワックス、ペンタイソステアリン酸ジペンタエリスリチル、ゴマ油、ジフェニルシロキシフェニルトリメチコン、ラウロイルグルタミン酸ジ（フィトステリル／オクチルドデシル）、マイクロクリスタリンワックス、塩基性炭酸Ｍｇ、ジステアルジモニウムヘクトライト、トコフェロール、アルガニアスピノサ核油、シア脂油、シリカ、ヒアルロン酸Ｎａ、パルミチン酸アスコルビル、レシチン、酸化チタン、赤２０１、黄４、酸化鉄、赤２０２、硫酸Ｂａ、水酸化Ａｌ
      </p>

      <p class="prescription__sblc--ttl mt20">03 コールドプラム</p>
      <p class="prescription__sblc--seibun">
        ＜成分＞ジフェニルジメチコン、トリ（カプリル酸／カプリン酸）グリセリル、トリエチルヘキサノイン、ＰＥＧ－１２ジメチコン、トリイソステアリン酸ポリグリセリル－２、合成ワックス、ペンタイソステアリン酸ジペンタエリスリチル、ゴマ油、ジフェニルシロキシフェニルトリメチコン、ラウロイルグルタミン酸ジ（フィトステリル／オクチルドデシル）、マイクロクリスタリンワックス、塩基性炭酸Ｍｇ、ジステアルジモニウムヘクトライト、トコフェロール、アルガニアスピノサ核油、シア脂油、シリカ、ヒアルロン酸Ｎａ、パルミチン酸アスコルビル、レシチン、酸化チタン、酸化鉄、黄４、赤２０１、赤２０２、青１、硫酸Ｂａ、水酸化Ａｌ                        
      </p>
    </div>
  </details>
</section>


<section class="itemlast" id="itemlast">
  <div class="itemlast__img">
    <picture>
      <source srcset="<%= imgpath %>/assets/images/uptorigin/img_eye--btm.webp" type="image/webp">
      <img src="<%= imgpath %>/assets/images/uptorigin/img_eye--btm.jpg" alt="" width="" height="">
    </picture>
  </div>
  <p class="itemlast__txt">気分にあわせて<br>
    いつだってなりたい自分に</p>
</section>

<section class="otheritem" id="cosmeOther">
  <h2 class="otheritem__ttl">OTHER PRODUCTS</h2>
  <%- include('./_cosmeOther', { meta: imgpath }); %>

</section>

</div>