<%
var imgpath = '{{ theme_file_root_path }}';
// var imgpath = '';

%>

<ul class="upthome__products--blc">
    <li>
        <a href="/shop/products/balancing_toner">
            <div class="upthome__products--blc-box">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/home_prodcut01.webp"
                        type="image/webp">

                    <img src="<%= imgpath %>/assets/images/uptorigin/0926/home_prodcut01b.jpg"
                        alt="BALANCING TONER バランシングトナー" width="auto" height="auto">
                </picture>

                <div class="upthome__products--nameblc">
                    <h3 class="upthome__products--name">BALANCING TONER</h3>
                    <p class="upthome__products--jpname">バランシングトナー<span class="italic">155mL</span></p>
                </div>
            </div>
            <p class="upthome__products--linkbtn">
                <span>詳細はこちら</span>
            </p>
        </a>
    </li>
    <li>
        <a href="/shop/products/conditioning_milk">
            <div class="upthome__products--blc-box">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/home_prodcut02.webp"
                        type="image/webp">

                    <img src="<%= imgpath %>/assets/images/uptorigin/0914/home_prodcut02.png"
                        alt="CONDITIONING MILK コンディショニングミルク" width="auto" height="auto">
                </picture>
                <div class="upthome__products--nameblc">
                    <h3 class="upthome__products--name">CONDITIONING MILK</h3>
                    <p class="upthome__products--jpname">コンディショニングミルク<span class="italic">120mL</span></p>
                </div>
            </div>
            <p class="upthome__products--linkbtn">
                <span>詳細はこちら</span>
            </p>
        </a>
    </li>
    <li>
        <a href="/shop/products/moisturizing_cream">
            <div class="upthome__products--blc-box">
                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/home_prodcut03.webp"
                        type="image/webp">

                    <img src="<%= imgpath %>/assets/images/uptorigin/0914/home_prodcut03.png" width="auto"
                        height="auto" alt="MOISTURIZING CREAM モイスチャライジングクリーム">
                </picture>
                <div class="upthome__products--nameblc">
                    <h3 class="upthome__products--name">MOISTURIZING CREAM</h3>
                    <p class="upthome__products--jpname">モイスチャライジングクリーム<span class="italic">40g</span></p>
                </div>
            </div>
            <p class="upthome__products--linkbtn">
                <span>詳細はこちら</span>
            </p>
        </a>
    </li>
</ul>