<%
// 以下の設定値を記入のこと

var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  path: '',
  ogimage : '' ,
  path : '' ,
  ecforce : 'false',
  category : ['about'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['setPhotoChanger ();','startScroll ();','setVideo();']
};
%>
<%
// var imgpath = '{{ theme_file_root_path }}';
var imgpath = '';

%>

<!-- BGとして ここから -->
<!-- <div class="bg__repeatWrapper">
    <div class="bg__repeatBlc">
        <div class="bgw1">
            <div class="maskbg1">
                <picture class="bgImg01">
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/bg01b-min.webp" type="image/webp">
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/bg01b-min.webp" type="image/webp">
                  
                    <img class="imgFirst" src="<%= imgpath %>/assets/images/uptorigin/bg01b-min.jpg" alt="背景画像1" width="auto" height="auto">
                    <img class="" src="<%= imgpath %>/assets/images/uptorigin/bg01b-min.jpg" alt="背景画像1" width="auto" height="auto">
                </picture>
            </div>
        </div>

        <div class="bgw2">
            <div class="pc">
                <div class="maskbg2">

                <picture>
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/bg02b.webp" type="image/webp">
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/bg02b.webp" type="image/webp">
                    <img class="imgFirst" src="<%= imgpath %>/assets/images/uptorigin/0914/bg02b.jpg" alt="背景画像2" width="auto" height="auto">
                    <img class="" src="<%= imgpath %>/assets/images/uptorigin/0914/bg02b.jpg" alt="背景画像2" width="auto" height="auto">
                </picture>

            </div>
            </div>
            <div class="sp">

                <picture class="maskbg2">
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/bg03spb.webp" type="image/webp">
                    <source srcset="<%= imgpath %>/assets/images/uptorigin/bg03spb.webp" type="image/webp">
                    <img class="imgFirst" src="<%= imgpath %>/assets/images/uptorigin/bg03spb.png" alt="背景画像2" width="auto" height="auto">
                    <img class="" src="<%= imgpath %>/assets/images/uptorigin/bg03spb.png" alt="背景画像2" width="auto" height="auto">
                </picture>
            </div>
        </div>
    </div>

</div> -->
<!-- BGとして　ここまで -->

