<%
var imgpath = 'https://ec-force.s3.amazonaws.com/uptofficialjp/uploads/themes/addmask_2405_20240513155516/ec_force';
// var imgpath = '';

%>
<div id="newitems" class="newitems">
  <div class="newitems__inner">

      <div class="newitems__fv">
        <picture>
          <source srcset="<%= imgpath %>/assets/images/uptorigin/img_fvnewsitem.webp" type="image/webp">
          <img src="<%= imgpath %>/assets/images/uptorigin/img_fvnewsitem.jpg" alt="安達祐実" width="1800" height="1185">
        </picture>
      </div>

      <div class="fadein">
        <div class="newitems__new">new items</div>
      </div>

      <div class="fadein">

        <p class="newitems__txt">Uptから初のベースメイク・ポイントメイクアイテムを発売いたします。
          素肌感を活かしながら透明感・ツヤ感を引き出し魅⼒的に⾒せてくれるテクスチャや
          ⾊味はもちろんのこと、⽇々の⽣活の⼀部となれるような
          コンパクトなパッケージにも安達祐実のこだわりが詰まっています。</p>
      </div>
      
      <div class="fadein">

        <div class="newitems__subttl">2024.08.21 wed DEBUT</div>
      </div>

      <div class="fadein">
        <div class="newitems__image">

          <img src="<%= imgpath %>/assets/images/uptorigin/newitems__img02.jpg" alt="安達祐実" width="750" height="750">
          <img src="<%= imgpath %>/assets/images/uptorigin/newitems__img01.jpg" alt="安達祐実" width="750" height="750">
        </div>
      </div>
    <div class="fadein">

      <div class="newitems__subtxt01 basetxt01">
        Upt SKIN BASE CREAM ウプト スキンベースクリーム SPF38 PA+++ ￥2,530 (tax in)
      </div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt02 basetxt02">
        化粧下地いらずでお肌にピタッとフィット
        肌悩みをカバーしながらツヤ肌に導くベースクリーム</div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt03 basetxt03">natural（ナチュラル）</div>

    </div>

    <hr class="neitems__line">


    <div class="fadein">

      <div class="newitems__image">

        <img src="<%= imgpath %>/assets/images/uptorigin/newitems__img03.jpg" alt="安達祐実" width="750" height="750">
        <img src="<%= imgpath %>/assets/images/uptorigin/newitems__img04.jpg" alt="安達祐実" width="750" height="750">
      </div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt01 color01">
        Upt P ETTE ウプト パーフェクトベースパレット ￥2,420 (tax in)
      </div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt02 color02">
        体温でとろけてピタッと密着。ナチュラルな透明感を引き出すコンシーラー＆ハイライトパレット</div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt03 color03">natural（ナチュラル）</div>
    </div>
    <hr class="neitems__line">


    <div class="fadein">


      <div class="newitems__image">

        <img src="<%= imgpath %>/assets/images/uptorigin/newitems__img05.jpg" alt="Upt EYE COLOR PALETTE" width="750"
          height="750">
        <img src="<%= imgpath %>/assets/images/uptorigin/newitems__img06.jpg" alt="Upt EYE COLOR PALETTE" width="750"
          height="750">
      </div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt01 eyetxt01">
        Upt EYE COLOR PALETTE ウプト アイカラーパレット 全3色 ￥2,420 (tax in)
      </div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt02 eyetxt02">
        捨て⾊なしで使い⽅に迷わない
        異なる3つの質感と⾊のレイヤードを楽しむアイカラー</div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt03 eyetxt03">01 amber more（アンバーモア） 02 melty mellow（メルティーメロウ） 03 teddy coco （テディココ）
      </div>
    </div>
    <hr class="neitems__line">
    <div class="fadein">


      <div class="newitems__image">

        <img src="<%= imgpath %>/assets/images/uptorigin/newitems__img07.jpg" alt="Upt WATERY SHEER LIP" width="750"
          height="750">
        <img src="<%= imgpath %>/assets/images/uptorigin/newitems__img08.jpg" alt="Upt WATERY SHEER LIP" width="750"
          height="750">
      </div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt01 riptxt01">
        Upt WATERY SHEER LIP ウプト ウォータリーシアーリップ 全3色 ￥1,980 (tax in)
      </div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt02 riptxt02">
        みずみずしいツヤと塗りたての⾊味が ⻑時間持続するリップスティック</div>
    </div>
    <div class="fadein">

      <div class="newitems__subtxt03 riptxt03">01 warm nude（ウォームヌード） 02 pale drop（ペールドロップ） 03 cold plum（コールドプラム）</div>
    </div>
    <hr class="neitems__line">

    <a href="https://www.instagram.com/_upt_official/" target="_blank" class="newitems__insta">
      <picture>
        <source srcset="<%= imgpath %>/assets/images/uptorigin/newitems__insta.webp" type="image/webp">
        <img src="<%= imgpath %>/assets/images/uptorigin/newitems__insta.jpg" alt="安達祐実" width="1617" height="438">
      </picture>
    </a>


    <picture>
      <source srcset="<%= imgpath %>/assets/images/uptorigin/newitems_img.webp" type="image/webp">
      <img src="<%= imgpath %>/assets/images/uptorigin/newitems_img.jpg" alt="安達祐実" width="1800" height="1230">
    </picture>
    <p class="copyright"><small>© 2022 Upt All Rights Reserved</small></p>
  </div>

</div>
<style>
  main.l-container {
    background-color: #FFF;
  }

  .uptplane {
    background-color: #FFF;
  }

  .p-page_content {
    padding: 0;
  }

  #uptfootersns {
    display: none;
  }

  .uptfooter {
    display: none;
  }

  .uptplane__ttl {
    display: none;
  }

  .uptplane {
    padding: 0;
    border: none;
  }

  .uptplane__inner {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  h1 {
    display: none;
  }

  .u-margin__bottom--100,
  .u-margin__top--60 {
    margin-bottom: 0 !important;
  }

  header {
    display: none !important;
  }

  .u-color__bg--base {
    background-color: #FFF !important;
  }
</style>

<script>
  $(window).scroll(function () {
    $('.fadein').each(function () {
      var elemPos = $(this).offset().top,
        scroll = $(window).scrollTop(),
        windowHeight = $(window).height();

      if (scroll > elemPos - windowHeight + 150) {
        $(this).addClass('scrollin');
      }
    });
  });
</script>