<%
// 以下の設定値を記入のこと

var pageinit = {
    product: 'wash',
    title : '' ,
    keywords : '' ,
    description : '' ,
    ogurl : '' ,
    ogimage : '' ,
    path : '' ,
    ecforce : 'false',
    path : '' ,
    category : ['main'] ,
    pagename : '',
    css: [],
    js:[],
    // jsfunc:['setPhotoChanger ();','startScroll ();','setVideo();'],
    
};

%>

<% 
    imgpath =  '';   
    // imgpath = '{{ theme_file_root_path }}';

%>



<% if (pageinit.ecforce === 'true') { %>
{{ 'shop/products' | javascript_include_tag }}
{% assign p = product %}
<% } %>


<main class="l-container js-main-container uptprodcut" role="main" id="product-show-view">


    <!-- handcream ハンドクリーム -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 15 %}
        <% } %>
    
        <% if ((pageinit.product === 'handcream') || (pageinit.product === 'all')) { %>
        
        <%- include('./_handcream', { meta: imgpath }); %>
    
        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /ハンドクリーム -->

    <!-- cset クレンジングセット -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 9 %}
        <% } %>
    
        <% if ((pageinit.product === 'cset') || (pageinit.product === 'all')) { %>
        
        <%- include('./_cleansingSet', { meta: imgpath }); %>
    
        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /クレンジングセット -->

    <!-- clensing クレンジングバーム -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 10 %}
        <% } %>
    
        <% if ((pageinit.product === 'balm') || (pageinit.product === 'all')) { %>
        
        <%- include('./_balm', { meta: imgpath }); %>
    
        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /クレンジングバーム -->
        
    <!-- clensing ホイップウォッシュ -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 11 %}
        <% } %>
    
        <% if ((pageinit.product === 'wash') || (pageinit.product === 'all')) { %>
        
        <%- include('./_wash', { meta: imgpath }); %>
    
        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /ホイップウォッシュ -->


    <!-- 定期商品 -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 8 %}
    <% } %>

    <% if ((pageinit.product === 'subsc') || (pageinit.product === 'all')) { %>
    
    <%- include('./subsc', { meta: imgpath }); %>

    <% } %>

    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /定期商品 -->


    <!-- セット商品 -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 5 %}
    <% } %>


    <% if ((pageinit.product === 'set') || (pageinit.product === 'all')) { %>

    <%- include('./_set', { meta: imgpath }); %>

    <% } %>

    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /セット商品 -->


    <!-- トナー化粧品 -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 2 %}
    <% } %>

    <% if ((pageinit.product === 'toner') || (pageinit.product === 'all')) { %>

        <%- include('./_toner', { meta: imgpath }); %>

    <% } %>

    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /トナー化粧品 -->


    <!-- ミルク乳液 -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 3 %}
    <% } %>


    <% if ((pageinit.product === 'milk') || (pageinit.product === 'all')) { %>
        <%- include('./_milk', { meta: imgpath }); %>
    <% } %>

    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /ミルク乳液 -->



    <!-- クリーム -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 4 %}
    <% } %>


    <% if ((pageinit.product === 'cream') || (pageinit.product === 'all')) { %>
        <%- include('./_cream', { meta: imgpath }); %>
    <% } %>

    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /クリーム -->



    <!-- 共通block displaynone-->
    <div style="display: none;">
        <div id="product-show-view">

            <!-- 商品画像(任意) -->
            {% if product.thumbnail.url %}
            {% assign src = product.thumbnail.url %}
            {% else %}
            {% assign src = 'missing' | image_url %}
            {% endif %}
            <img src="{{ src }}" id="main-img">
            <div id="sub-images-view"></div>

            <!-- 商品名 -->
            {{ product.name }}

            <!-- 販売価格 -->
            <span id="sales-price">{{ product.first_price | number_to_currency: format: '%n %u' }}</span>
            <!-- 販売価格(税込) -->
            <span
                id="sales-price-include-tax">{{ product.first_price_include_tax | number_to_currency: format: '%n %u' }}</span>




            <!-- レビュー一覧 -->
            {% assign is_readable = product.id | check_review_reading_rule %}
            {% if is_readable %}

            {% if reviews.size == 0 %}
            この商品のレビューはありません。
            {% else %}
            <!-- レビュー件数(任意) -->
            {{ reviews.size }} 件のレビュー

            <!-- レビュー平均点(任意) -->
            {{ product.average_star }}

            {% for review in reviews %}

            <!-- レビュータイトル -->
            {{ review.title }}

            <!-- レビュー投稿日時(任意) -->
            {{ review.created_at | date: '%Y/%m/%d %H:%M:%S' }}

            <!-- 投稿者 -->
            {{ review.name }}

            <!-- 評価 -->
            {{ review.display_star }}

            <!-- レビューコメント -->
            {{ review.comment | simple_format }}

            {% endfor %}
            {% endif %}


            <!-- レビュー投稿フォーム -->
            {% assign is_writable = product.id | check_review_writing_rule %}
            {% if is_writable %}

            <!-- フラッシュメッセージ -->
            {{ 'notice' | flash: 'alert alert-success', 'text' }}
            {{ 'alert' | flash: 'alert alert-danger', 'text' }}
            {{ 'error' | flash: 'alert alert-danger', 'text' }}

            <form action="/shop/products/{{ product.id }}/review" method="post">

                <!-- 投稿者名 -->
                <label for="review_name">投稿者名</label>
                <input class="validate[required]" type="text" name="review[name]" id="review_name">

                <!-- メールアドレス -->
                <label for="review_email">メールアドレス</label>
                <input class="validate[required,custom[email]]" type="text"
                    {% if customer_signed_in %}disabled{% endif %} name="email" value="{{ current_customer.email }}"
                    id="review_email">

                <!-- 評価 -->
                <label for="review_star">おすすめレベル</label>
                <select class="validate[required,custom[number]]" name="review[star]" id="review_star">
                    <option value="5">★★★★★</option>
                    <option value="4">★★★★</option>
                    <option value="3">★★★</option>
                    <option value="2">★★</option>
                    <option value="1">★</option>
                </select>

                <!-- タイトル -->
                <label for="review_title">タイトル</label>
                <input class="validate[required,maxSize[20]]" type="text" name="review[title]" id="review_title">

                <!-- コメント -->
                <label for="review_comment">コメント</label>
                <textarea class="validate[required,maxSize[400]]" name="review[comment]" id="review_comment"></textarea>

                <!-- 投稿ボタン -->
                <button name="button" type="submit">投稿する</button>

            </form>
            {% endif %}
            {% endif %}



            <!-- 関連商品 -->
            {% if base_info.use_related_products_on_detail? and product.active_related_products.size != 0 %}

            <!-- 関連商品一覧 -->
            {% for related_product in product.active_related_products %}

            <!-- 関連商品画像(任意) -->
            <a href="/shop/products/{{ related_product.master.sku }}">
                {% if related_product.thumbnail.url %}
                {% assign src = related_product.thumbnail.url %}
                {% else %}
                {% assign src = 'missing' | image_url %}
                {% endif %}
                <img src="{{ src }}">
            </a>

            <!-- 関連商品名 -->
            <a href="/shop/products/{{ related_product.master.sku }}">{{ related_product.name | truncate: 35 }}</a>

            <!-- 販売価格 -->
            {{ related_product.master.list_price | number_to_currency: format: '%n %u' }}

            <!-- カート追加 -->
            <form action="/shop/cart/add" method="post">
                <input name="variant_id" type="hidden" value="{{ related_product.related_product_variants_id }}">
                <button>カートに追加する</button>
            </form>
            {% endfor %}
            {% endif %}

        </div>

        <!-- お気に入り登録 -->
        {% assign is_favorite = product.id | check_current_customer_favorite %}
        {% if is_favorite %}
        {% if customer_signed_in %}
        <form
            action="/shop/products/{{ product.master.sku }}/unfavorite?customer_return_to=%2Fshop%2Fproducts%2F{{ product.master.sku }}"
            method="post">
            <button data-disable-with="解除中..." type="submit">
                お気に入りに追加済み
            </button>
        </form>
        {% endif %}
        {% else %}
        <form
            action="/shop/products/{{ product.master.sku }}/favorite?customer_return_to=%2Fshop%2Fproducts%2F{{ product.master.sku }}"
            method="post">
            <button data-disable-with="登録中..." type="submit">
                お気に入りに追加
            </button>
        </form>
        {% endif %}
    </div>
    <!-- /共通block displaynone -->





    <!-- セット商品 -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 5 %}
    <% } %>

    <% if ((pageinit.product === 'set') || (pageinit.product === 'all')) { %>
    <section id="js-prodcutFv" class="uptprodcut__intro">
        <h2 class="uptprodcut__intro--txt">スキンケアを、<br>⼼安らぐ時間に</h2>
        <div class="uptprodcut__intro--relative">
            <img src="<%= imgpath %>/assets/images/uptorigin/0914/img_product-yumipc02.jpg" alt="安達祐実" width="auto"
                height="auto" class="pcImg">
            <img src="<%= imgpath %>/assets/images/uptorigin/0914/img_product-yumisp02.jpg" alt="安達祐実" width="auto"
                height="auto" class="spImg">
            <div class="uptprodcut__intro--border" id="js-border"></div>
        </div>

    </section>
    <section class="uptline"></section>

    <section class="uptproduct__setitem">
        <h2 class="uptblc__ttl">SET ITEM</h2>

        <div class="uptproduct__setitem--blc">
            <div class="uptproduct__setitem--blc-s border img">
                <div class="uptproduct__setitem--img">
                    <img src="<%= imgpath %>/assets/images/uptorigin/0914/img_set01.png" width="auto" height="auto"
                        alt="バランシングトナー">
                </div>
            </div>
            <div class="uptproduct__setitem--blc-s">
                <div class="uptproduct__setitem--exp">
                    <div class="uptproduct__setitem--name">
                        <div class="uptproduct__setitem--name-txt">
                            <h3 class="uptproduct__setitem--name01">BALANCING TONER</h3>
                            <p class="uptproduct__setitem--name02">バランシングトナー<br>〈化粧⽔〉</p>
                            <p class="uptproduct__setitem--name03 italic">155mL</p>
                        </div>
                        <div class="uptproduct__setitem--name-img">
                            <img src="<%= imgpath %>/assets/images/uptorigin/0914/point_set01.png" width="auto"
                                height="auto" alt="バランシングトナー">
                        </div>
                    </div>

                    <div class="uptproduct__setitem--setsumei">
                        <p class="uptproduct__setitem--setsumei--ttl">水ってやっぱり気持ちいい</p>
                        <p>お肌に乗せた瞬間にすーっとなじんでうるおいに満ちたお肌に。</p>
                    </div>

                    <div class="uptproduct__setitem--absolute">
                        <ul class="uptproduct__setitem--list" id="js-accordion01">
                            <li>
                                <p class="uptproduct__setitem--list-ttl">使用感<span></span></p>
                                <div class="uptproduct__setitem--list-txt">
                                    <p>とろみのないみずみずしいテクスチャーが角質層のすみずみまで浸透。
                                        お肌の水分をチャージしキメを整えます。</p>
                                </div>
                            </li>
                            <li>
                                <p class="uptproduct__setitem--list-ttl">成分<span></span></p>
                                <div class="uptproduct__setitem--list-txt">
                                    <p>温泉水、水、ＢＧ、グリセリン、ジグリセリン、ペンチレングリコール、プロパンジオール、セラミドＮＧ、セラミドＡＰ、セラミドＡＧ、セラミドＮＰ、セラミドＥＯＰ、サッカロミセス／コメ発酵液、アセチルデカペプチド－３、オリゴペプチド－２０、カプロオイルテトラペプチド－３、パルミチン酸アスコルビルリン酸３Ｎａ、ナイアシンアミド、加水分解ヒアルロン酸アルキル（Ｃ１２－１３）グリセリル、ヒアルロン酸ジメチルシラノール、ヒアルロン酸Ｎａ、水溶性プロテオグリカン、ＰＥＧ－８、ベタイン、ＰＣＡ－Ｎａ、デキストラン、ポリクオタニウム－５１、フィトステロールズ、ＰＥＧ－２０ソルビタンココエート、水添レシチン、ＰＥＧ－６０水添ヒマシ油、クエン酸Ｎａ、クエン酸、カプリルヒドロキサム酸、ペンテト酸５Ｎａ、フェノキシエタノール、イランイラン花油、ニオイテンジクアオイ油
                                    </p>
                                </div>
                            </li>
                            <li>
                                <p class="uptproduct__setitem--list-ttl">使い方<span></span></p>
                                <div class="uptproduct__setitem--list-txt">
                                    <p>適量を手に取り、両手でお顔全体を包み込むようにハンドプレスして優しくなじませる。お肌がうるおいで満ちるまで好きなだけ重ね付けして。</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="uptproduct__setitem--blc reverse">
            <div class="uptproduct__setitem--blc-s img blc02">
                <div class="uptproduct__setitem--img">
                    <img src="<%= imgpath %>/assets/images/uptorigin/0914/img_set02.png" alt="コンディショニングミルク" width="auto"
                        height="auto">
                </div>
            </div>
            <div class="uptproduct__setitem--blc-s border">
                <div class="uptproduct__setitem--exp">
                    <div class="uptproduct__setitem--name">
                        <div class="uptproduct__setitem--name-txt">
                            <h3 class="uptproduct__setitem--name01">CONDITIONING MILK</h3>
                            <p class="uptproduct__setitem--name02">コンディショニングミルク<br>〈乳液〉</p>
                            <p class="uptproduct__setitem--name03 italic">120mL</p>
                        </div>
                        <div class="uptproduct__setitem--name-img">
                            <img src="<%= imgpath %>/assets/images/uptorigin/0914/point_set02.png" alt="コンディショニングミルク"
                                width="auto" height="auto">
                        </div>
                    </div>

                    <div class="uptproduct__setitem--setsumei">
                        <p class="uptproduct__setitem--setsumei--ttl">さらさらのミルクが欲しかった</p>
                        <p>まるで水のような新感覚テクスチャーがしっとりうるおうお肌に。</p>
                    </div>

                    <div class="uptproduct__setitem--absolute">
                        <ul class="uptproduct__setitem--list" id="js-accordion02">
                            <li>
                                <p class="uptproduct__setitem--list-ttl">使用感<span></span></p>
                                <div class="uptproduct__setitem--list-txt">
                                    <p>ベタつき感のないさらさらとしたミルクのようなテクスチャーで包み込む。
                                        みずみずしく柔らかなお肌へ導きます。</p>
                                </div>
                            </li>
                            <li>
                                <p class="uptproduct__setitem--list-ttl">成分<span></span></p>
                                <div class="uptproduct__setitem--list-txt">
                                    <p>水、温泉水、ＢＧ、グリセリン、ベタイン、エチルヘキシルグリセリン、カプリル酸グリセリル、セラミドＮＧ、セラミドＡＰ、セラミドＡＧ、セラミドＮＰ、セラミドＥＯＰ、アセチルデカペプチド－３、オリゴペプチド－２０、カプロオイルテトラペプチド－３、スクワラン(植物由来)、リン酸アスコルビルＭｇ、パルミチン酸アスコルビルリン酸３Ｎａ、３－Ｏ－エチルアスコルビン酸、ナイアシンアミド、デキストラン、ラウロイルグルタミン酸ジ（フィトステリル／オクチルドデシル）、フィトステロールズ、ミリスチン酸オクチルドデシル、ジフェニルシロキシフェニルトリメチコン、ジメチコン、カルボマー、キサンタンガム、ＰＥＧ－２０ソルビタンココエート、水添レシチン、ＰＥＧ－６０水添ヒマシ油、水酸化Ｋ、フェノキシエタノール、イランイラン花油、ニオイテンジクアオイ油
                                    </p>
                                </div>
                            </li>
                            <li>
                                <p class="uptproduct__setitem--list-ttl">使い方<span></span></p>
                                <div class="uptproduct__setitem--list-txt">
                                    <p>適量を手に取り、お顔全体に優しくなじませる。
                                        乾燥やハリ不足を感じる部分には重ね付けを。
                                        首やデコルテまで塗り広げてケアするのもおすすめ。</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="uptproduct__setitem--blc">
            <div class="uptproduct__setitem--blc-s border img">
                <div class="uptproduct__setitem--img">
                    <img src="<%= imgpath %>/assets/images/uptorigin/0914/img_set03.png" alt="モイスチャライジングクリーム"
                        width="auto" height="auto">
                </div>
            </div>
            <div class="uptproduct__setitem--blc-s">
                <div class="uptproduct__setitem--exp">
                    <div class="uptproduct__setitem--name">
                        <div class="uptproduct__setitem--name-txt">
                            <h3 class="uptproduct__setitem--name01">MOISTURIZING CREAM</h3>
                            <p class="uptproduct__setitem--name02">モイスチャライジングクリーム<br>〈クリーム〉</p>
                            <p class="uptproduct__setitem--name03 italic">40g</p>
                        </div>
                        <div class="uptproduct__setitem--name-img">
                            <img src="<%= imgpath %>/assets/images/uptorigin/0914/point_set03.png" alt="モイスチャライジングクリーム"
                                width="auto" height="auto">
                        </div>
                    </div>

                    <div class="uptproduct__setitem--setsumei">
                        <p class="uptproduct__setitem--setsumei--ttl">なるだけ手間をなくせるように</p>
                        <p>お肌全体をうるおいヴェールで包みこみ、吸い付くようなしなやかなお肌へ。</p>
                    </div>

                    <div class="uptproduct__setitem--absolute">
                        <ul class="uptproduct__setitem--list" id="js-accordion03">
                            <li>
                                <p class="uptproduct__setitem--list-ttl">使用感<span></span></p>
                                <div class="uptproduct__setitem--list-txt">
                                    <p>お肌の上でとろけるテクスチャーが水分をしっかり閉じ込め密着。
                                        お肌を柔らかくなめらかに仕上げます。</p>
                                </div>
                            </li>
                            <li>
                                <p class="uptproduct__setitem--list-ttl">成分<span></span></p>
                                <div class="uptproduct__setitem--list-txt">
                                    <p>温泉水、ミネラルオイル、スクワラン(植物由来)、ＢＧ、ベヘニルアルコール、ジメチコン、ＰＥＧ－１５０、マルチトール、セテアリルアルコール、ペンチレングリコール、ステアリン酸グリセリル、ステアロイルグルタミン酸Ｎａ、エチルヘキシルグリセリン、カプリル酸グリセリル、セラミドＮＧ、セラミドＡＰ、セラミドＡＧ、セラミドＮＰ、セラミドＥＯＰ、アセチルデカペプチド－３、オリゴペプチド－２０、カプロオイルテトラペプチド－３、パルミチン酸アスコルビルリン酸３Ｎａ、ナイアシンアミド、エリンギウムマリチムムカルス培養液、加水分解コラーゲン、水溶性コラーゲン、水溶性コラーゲンクロスポリマー、デキストラン、マカデミアナッツ脂肪酸フィトステリル、フィトステロールズ、水、水添レシチン、グリセリン、ＥＤＴＡ－２Ｎａ、フェノキシエタノール、イランイラン花油、ニオイテンジクアオイ油
                                    </p>
                                </div>
                            </li>
                            <li>
                                <p class="uptproduct__setitem--list-ttl">使い方<span></span></p>
                                <div class="uptproduct__setitem--list-txt">
                                    <p>手のひらで温めてからお顔全体になじませる。
                                        お顔全体に広げたあとに、ゼラニウム＆イランイランの香りを感じながら深呼吸。</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="<%= imgpath %>/assets/uptproduct.js"></script>

    <% } %>

    <% if (pageinit.ecforce == 'true') { %>
    {% endif %}
    <% } %>
    <!-- /セット商品 -->

    <!-- クレンジングセット -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 9 %}
        <% } %>
    
        <% if ((pageinit.product === 'cset') || (pageinit.product === 'all')) { %>
            <%- include('./_cset02', { meta: imgpath }); %>

        <% } %>
    
        <% if (pageinit.ecforce == 'true') { %>
        {% endif %}
        <% } %>
        <!-- /クレンジングセット -->
    

    <!-- 潤い商品ONLYONLY -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 2 or product.id == 3 or product.id == 4 or product.id == 5 %}
    <% } %>

    <% if ((pageinit.product === 'toner') ||(pageinit.product === 'milk') ||(pageinit.product === 'cream') ||(pageinit.product === 'set') || (pageinit.product === 'all')) { %>
        <%- include('./_uruoi', { meta: imgpath }); %>
    <% } %>
    <% if (pageinit.ecforce == 'true') { %>
        {% endif %}
    <% } %>



    
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 10 or product.id == 11 %}
 <% } %>

    <% if ((pageinit.product === 'wash') ||(pageinit.product === 'balm')  || (pageinit.product === 'all')) { %>
        <%- include('./_arau', { meta: imgpath }); %>
    <% } %>

    <% if (pageinit.ecforce == 'true') { %>
        {% endif %}
    <% } %>


    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 15 %}
 <% } %>


    <% if ((pageinit.product === 'toner') ||(pageinit.product === 'milk') ||(pageinit.product === 'cream') ||(pageinit.product === 'handcream')  || (pageinit.product === 'all')) { %>
        <%- include('./_uruou', { meta: imgpath }); %>
    <% } %>


    <% if (pageinit.ecforce == 'true') { %>
        {% endif %}
    <% } %>



    <% if (pageinit.ecforce === 'true') { %>
    <!-- /.潤い商品ONLYONLY -->

    {% comment %} review {% endcomment %}
    {% if base_info.use_review? %}
    {% section 'products_show_review' %}
    {% endif %}
    {% comment %} 関連商品 {% endcomment %}
    {% if base_info.use_related_products_on_detail? and p.active_related_products.size != 0 %}
    {% section 'products_show_recommend' %}
    {% endif %}
    <% } %>

</main>


<!-- product01 -->
<% if (pageinit.ecforce === 'true') { %>

<link rel="stylesheet" href="{{ theme_file_root_path }}/assets/product.css" type="text/css">

{% content_for meta_description %}
{% endcontent_for %}

{% content_for meta_keywords %}
{% endcontent_for %}

{% content_for title %}
{% endcontent_for %}


<% } %>



<!-- /共通block -->
<%- include('./lpbnr'); %>
<% if (pageinit.ecforce !== 'true') { %>

<script src="/assets/lpbnr.js"></script>
<% } else { %>
<script src="{{ theme_file_root_path }}/assets/lpbnr.js"></script>
<% } %>
