<%
// 以下の設定値を記入のこと

var pageinit = {
    product: 'all',
    title : '',
    keywords : '' ,
    description : '' ,
    ogurl : '' ,
    ogimage : '' ,
    path : '' ,
    ecforce : 'true',
    path : '' ,
    category : ['main'] ,
    pagename : '',
    css: [],
    js:[],
    
};

%>

<% 
    // imgpath =  '';   
    imgpath = '{{ stheme_file_root_path }}';

%>



<% if (pageinit.ecforce === 'true') { %>
{{ 'shop/products' | javascript_include_tag }}
{% assign p = product %}
<% } %>


<main class="l-container js-main-container uptprodcut" role="main" id="product-show-view">


    <!-- アイメイク -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 20 %}
        <% } %>
    
        <% if ((pageinit.product === 'eye') || (pageinit.product === 'all')) { %>
        
        <%- include('./_eye') %>

        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /アイメイク -->


    <!-- リップ -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 21 %}
        <% } %>
    
        <% if ((pageinit.product === 'rip') || (pageinit.product === 'all')) { %>
        
        <%- include('./_rip') %>

        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /リップ -->

    <!-- スキンベースクリーム -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 19 %}
        <% } %>
    
        <% if ((pageinit.product === 'bpallet') || (pageinit.product === 'all')) { %>
        
        <%- include('./_bpallet') %>

        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /スキンベースクリーム -->

    <!-- スキンベースクリーム -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 18 %}
        <% } %>
    
        <% if ((pageinit.product === 'bcream') || (pageinit.product === 'all')) { %>
        
        <%- include('./_bcream') %>

        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /スキンベースクリーム -->


    <!-- mask マスク -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 17 %}
        <% } %>
    
        <% if ((pageinit.product === 'mask') || (pageinit.product === 'all')) { %>
        
        <%- include('./_mask', { meta: imgpath }); %>
    
        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /マスク -->


    <!-- handcream ハンドクリーム -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 15 %}
        <% } %>
    
        <% if ((pageinit.product === 'handcream') || (pageinit.product === 'all')) { %>
        
        <%- include('./_handcream', { meta: imgpath }); %>
    
        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /ハンドクリーム -->

    <!-- cset クレンジングセット -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 9 %}
        <% } %>
    
        <% if ((pageinit.product === 'cset') || (pageinit.product === 'all')) { %>
        
        <%- include('./_cleansingSet', { meta: imgpath }); %>
    
        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /クレンジングセット -->

    <!-- clensing クレンジングバーム -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 10 %}
        <% } %>
    
        <% if ((pageinit.product === 'balm') || (pageinit.product === 'all')) { %>
        
        <%- include('./_balm', { meta: imgpath }); %>
    
        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /クレンジングバーム -->
        
    <!-- clensing ホイップウォッシュ -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 11 %}
        <% } %>
    
        <% if ((pageinit.product === 'wash') || (pageinit.product === 'all')) { %>
        
        <%- include('./_wash', { meta: imgpath }); %>
    
        <% } %>
    
    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /ホイップウォッシュ -->


    <!-- 定期商品 -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 8 %}
    <% } %>

    <% if ((pageinit.product === 'subsc') || (pageinit.product === 'all')) { %>
    
    <%- include('./subsc', { meta: imgpath }); %>

    <% } %>

    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /定期商品 -->


    <!-- セット商品 -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 5 %}
    <% } %>


    <% if ((pageinit.product === 'set') || (pageinit.product === 'all')) { %>

    <%- include('./_set', { meta: imgpath }); %>

    <% } %>

    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /セット商品 -->


    <!-- トナー化粧品 -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 2 %}
    <% } %>

    <% if ((pageinit.product === 'toner') || (pageinit.product === 'all')) { %>

        <%- include('./_toner', { meta: imgpath }); %>
        <%- include('./_uruoi', { meta: imgpath }); %>

    <% } %>

    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /トナー化粧品 -->


    <!-- ミルク乳液 -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 3 %}
    <% } %>


    <% if ((pageinit.product === 'milk') || (pageinit.product === 'all')) { %>
        <%- include('./_milk', { meta: imgpath }); %>
        <%- include('./_uruoi', { meta: imgpath }); %>

    <% } %>

    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /ミルク乳液 -->



    <!-- クリーム -->
    <% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 4 %}
    <% } %>


    <% if ((pageinit.product === 'cream') || (pageinit.product === 'all')) { %>
        <%- include('./_cream', { meta: imgpath }); %>
        <%- include('./_uruoi', { meta: imgpath }); %>

    <% } %>

    <% if (pageinit.ecforce === 'true') { %>
    {% endif %}
    <% } %>
    <!-- /クリーム -->



    <!-- 共通block displaynone-->
    <div style="display: none;">
        <div id="product-show-view">

            <!-- 商品画像(任意) -->
            {% if product.thumbnail.url %}
            {% assign src = product.thumbnail.url %}
            {% else %}
            {% assign src = 'missing' | image_url %}
            {% endif %}
            <img src="{{ src }}" id="main-img">
            <div id="sub-images-view"></div>

            <!-- 商品名 -->
            {{ product.name }}

            <!-- 販売価格 -->
            <span id="sales-price">{{ product.first_price | number_to_currency: format: '%n %u' }}</span>
            <!-- 販売価格(税込) -->
            <span
                id="sales-price-include-tax">{{ product.first_price_include_tax | number_to_currency: format: '%n %u' }}</span>




            <!-- レビュー一覧 -->
            {% assign is_readable = product.id | check_review_reading_rule %}
            {% if is_readable %}

            {% if reviews.size == 0 %}
            この商品のレビューはありません。
            {% else %}
            <!-- レビュー件数(任意) -->
            {{ reviews.size }} 件のレビュー

            <!-- レビュー平均点(任意) -->
            {{ product.average_star }}

            {% for review in reviews %}

            <!-- レビュータイトル -->
            {{ review.title }}

            <!-- レビュー投稿日時(任意) -->
            {{ review.created_at | date: '%Y/%m/%d %H:%M:%S' }}

            <!-- 投稿者 -->
            {{ review.name }}

            <!-- 評価 -->
            {{ review.display_star }}

            <!-- レビューコメント -->
            {{ review.comment | simple_format }}

            {% endfor %}
            {% endif %}


            <!-- レビュー投稿フォーム -->
            {% assign is_writable = product.id | check_review_writing_rule %}
            {% if is_writable %}

            <!-- フラッシュメッセージ -->
            {{ 'notice' | flash: 'alert alert-success', 'text' }}
            {{ 'alert' | flash: 'alert alert-danger', 'text' }}
            {{ 'error' | flash: 'alert alert-danger', 'text' }}

            <form action="/shop/products/{{ product.id }}/review" method="post">

                <!-- 投稿者名 -->
                <label for="review_name">投稿者名</label>
                <input class="validate[required]" type="text" name="review[name]" id="review_name">

                <!-- メールアドレス -->
                <label for="review_email">メールアドレス</label>
                <input class="validate[required,custom[email]]" type="text"
                    {% if customer_signed_in %}disabled{% endif %} name="email" value="{{ current_customer.email }}"
                    id="review_email">

                <!-- 評価 -->
                <label for="review_star">おすすめレベル</label>
                <select class="validate[required,custom[number]]" name="review[star]" id="review_star">
                    <option value="5">★★★★★</option>
                    <option value="4">★★★★</option>
                    <option value="3">★★★</option>
                    <option value="2">★★</option>
                    <option value="1">★</option>
                </select>

                <!-- タイトル -->
                <label for="review_title">タイトル</label>
                <input class="validate[required,maxSize[20]]" type="text" name="review[title]" id="review_title">

                <!-- コメント -->
                <label for="review_comment">コメント</label>
                <textarea class="validate[required,maxSize[400]]" name="review[comment]" id="review_comment"></textarea>

                <!-- 投稿ボタン -->
                <button name="button" type="submit">投稿する</button>

            </form>
            {% endif %}
            {% endif %}



            <!-- 関連商品 -->
            {% if base_info.use_related_products_on_detail? and product.active_related_products.size != 0 %}

            <!-- 関連商品一覧 -->
            {% for related_product in product.active_related_products %}

            <!-- 関連商品画像(任意) -->
            <a href="/shop/products/{{ related_product.master.sku }}">
                {% if related_product.thumbnail.url %}
                {% assign src = related_product.thumbnail.url %}
                {% else %}
                {% assign src = 'missing' | image_url %}
                {% endif %}
                <img src="{{ src }}">
            </a>

            <!-- 関連商品名 -->
            <a href="/shop/products/{{ related_product.master.sku }}">{{ related_product.name | truncate: 35 }}</a>

            <!-- 販売価格 -->
            {{ related_product.master.list_price | number_to_currency: format: '%n %u' }}

            <!-- カート追加 -->
            <form action="/shop/cart/add" method="post">
                <input name="variant_id" type="hidden" value="{{ related_product.related_product_variants_id }}">
                <button>カートに追加する</button>
            </form>
            {% endfor %}
            {% endif %}

        </div>

        <!-- お気に入り登録 -->
        {% assign is_favorite = product.id | check_current_customer_favorite %}
        {% if is_favorite %}
        {% if customer_signed_in %}
        <form
            action="/shop/products/{{ product.master.sku }}/unfavorite?customer_return_to=%2Fshop%2Fproducts%2F{{ product.master.sku }}"
            method="post">
            <button data-disable-with="解除中..." type="submit">
                お気に入りに追加済み
            </button>
        </form>
        {% endif %}
        {% else %}
        <form
            action="/shop/products/{{ product.master.sku }}/favorite?customer_return_to=%2Fshop%2Fproducts%2F{{ product.master.sku }}"
            method="post">
            <button data-disable-with="登録中..." type="submit">
                お気に入りに追加
            </button>
        </form>
        {% endif %}
    </div>
    <!-- /共通block displaynone -->




    <!-- クレンジングセット -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 9 %}
        <% } %>
    
        <% if ((pageinit.product === 'cset') || (pageinit.product === 'all')) { %>
            <%- include('./_cset02', { meta: imgpath }); %>

        <% } %>
    
        <% if (pageinit.ecforce == 'true') { %>
        {% endif %}
        <% } %>
        <!-- /クレンジングセット -->
    

    <!-- 潤い商品ONLYONLY -->
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 2 or product.id == 3 or product.id == 4 or product.id == 5 %}
    <% } %>

    <% if ((pageinit.product === 'toner') ||(pageinit.product === 'milk') ||(pageinit.product === 'cream') ||(pageinit.product === 'set') || (pageinit.product === 'all')) { %>
        <%- include('./_uruou', { meta: imgpath }); %>
    <% } %>

    <% if (pageinit.ecforce == 'true') { %>
        {% endif %}
    <% } %>



    
    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 10 or product.id == 11 %}
 <% } %>

    <% if ((pageinit.product === 'wash') ||(pageinit.product === 'balm')  || (pageinit.product === 'all')) { %>
        <%- include('./_arau', { meta: imgpath }); %>
    <% } %>

    <% if (pageinit.ecforce == 'true') { %>
        {% endif %}
    <% } %>


    <% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 15 %}
 <% } %>


    <!-- <a#% if ((pageinit.product === 'toner') ||(pageinit.product === 'milk') ||(pageinit.product === 'cream') ||(pageinit.product === 'handcream')  || (pageinit.product === 'all')) { %>
        <#%- include('./_uruou', { meta: imgpath }); %>
    <3% } %> -->


    <% if (pageinit.ecforce == 'true') { %>
        {% endif %}
    <% } %>



    <% if (pageinit.ecforce === 'true') { %>
    <!-- /.潤い商品ONLYONLY -->

    {% comment %} review {% endcomment %}
    {% if base_info.use_review? %}
    {% section 'products_show_review' %}
    {% endif %}
    {% comment %} 関連商品 {% endcomment %}
    {% if base_info.use_related_products_on_detail? and p.active_related_products.size != 0 %}
    {% section 'products_show_recommend' %}
    {% endif %}

    <% } %>

</main>


<!-- product01 -->
<% if (pageinit.ecforce === 'true') { %>
        {% if product.id == 15 %}
 <% } %>

<link rel="stylesheet" href="{{ theme_file_root_path }}/assets/product.css" type="text/css">
<!-- <link rel="stylesheet" href="{{ theme_file_root_path }}/assets/product_renew.css" type="text/css"> -->

<% if (pageinit.ecforce === 'true') { %>

{% content_for meta_description %}
{% endcontent_for %}

{% content_for meta_keywords %}
{% endcontent_for %}

{% content_for title %}
{% endcontent_for %}
 {% endif %}
<% } %>






<!-- Face -->
<% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 18 or product.id == 19 or product.id == 20 or product.id == 21 %}

 <% } %>

    <% if (pageinit.product === 'eye' || pageinit.product === 'rip' || pageinit.product === 'bcream' ||  pageinit.product === 'bpallet' ||  pageinit.product === 'all') { %>
        <!-- <link rel="stylesheet" href="<%= imgpath %>/assets/product_renew.css" type="text/css"> -->
        <script src="<%= imgpath %>/assets/renewproduct.js"></script>
        <script src="<%= imgpath %>/assets/swiperRenew.js"></script>
    <% } %>

<% if (pageinit.ecforce === 'true') { %>
{% endif %}
<% } %>
<!-- Face -->

<!-- /skincare -->
<% if (pageinit.ecforce === 'true') { %>
    {% if product.id == 2 or product.id == 3 or product.id == 4 or product.id == 5  or product.id == 9  or product.id == 10  or product.id == 11  or product.id == 15 or product.id == 16 or product.id == 17 %}

 <% } %>
 
    <% if ( pageinit.product === 'toner' || pageinit.product === 'milk' ||  pageinit.product === 'subsc' || pageinit.product === 'set' ||  pageinit.product === 'handcream' ||   pageinit.product === 'cream' ||   pageinit.product === 'cset' || pageinit.product === 'mask' || pageinit.product === 'balm' ||  pageinit.product === 'wash' ||  pageinit.product === 'all'){ %>
        <%- include('./lpbnr'); %>
        <script src="<%= imgpath %>/assets/lpbnr.js"></script>

    <% } %>

<% if (pageinit.ecforce === 'true') { %>
{% endif %}
<% } %>
<!-- skincare -->
        <!-- <#%- include('./lpbnr'); %> -->

